<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="In this episode of The Toolbox, we'll take a look the most popular React Meta Framework called NextJS. It's an almost magical set of tools that can help you build a site or app quickly. I'll also talk about some exciting new tools in the shorts including new sass and css frameworks...or libraries...or whatever you call them. Yeah the pace of the web is relentless and that's why you need the Toolbox" />
    <meta property="og:title" content="What&#39;s Next JS - Ep 23" />
    <meta property="og:description" content="In this episode of The Toolbox, we'll take a look the most popular React Meta Framework called NextJS. It's an almost magical set of tools that can help you build a site or app quickly. I'll also talk about some exciting new tools in the shorts including new sass and css frameworks...or libraries...or whatever you call them. Yeah the pace of the web is relentless and that's why you need the Toolbox" />
    <meta property="og:image" content="https://raybo.org/images/toolbox/episode23.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/toolbox/2022-04-06-whats-next-js-ep23/">
    <meta name="twitter:title" content="What&#39;s Next JS - Ep 23">
    <meta name="twitter:description" content="In this episode of The Toolbox, we'll take a look the most popular React Meta Framework called NextJS. It's an almost magical set of tools that can help you build a site or app quickly. I'll also talk about some exciting new tools in the shorts including new sass and css frameworks...or libraries...or whatever you call them. Yeah the pace of the web is relentless and that's why you need the Toolbox">
    <meta name="twitter:image" content="https://raybo.org/images/toolbox/episode23.jpg">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative bg-dark">
    <nav class="site-nav family-sans navbar navbar-expand-md bg-dark navbar-dark  sticky-top  py-0">
  <div class="container">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-bs-toggle="collapse" data-bs-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a> 
    </div>
    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link fw-bold  text-light" href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/toolbox/0/">toolbox</a>
            
            <a class="nav-item nav-link" href="/shorts/0/">shorts</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                    <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                    <i class="bi bi-github text-secondary me-1"></i> github
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                    <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                    <i class="bi bi-twitter text-secondary me-1"></i> twitter
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                    <i class="bi bi-image text-secondary me-1"></i> flickr
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                    <i class="bi bi-youtube text-secondary me-1"></i> youtube
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                    <i class="bi bi-instagram text-secondary me-1"></i> instagram
                  </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
  <header id="page-hero" class="container site-header ratio ratio-16x9">
  <iframe style="border-radius: 20px;" src="https://www.youtube.com/embed/oGhg6wXoxXc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</header>


 
<article id="main-content" class="site-main container mt-3 mb-5"

>
<main class="article-content px-3 px-sm-0 container">

<h1>What&#39;s Next JS - Ep 23</h1>
<p class="lead">In this episode of The Toolbox, we&#39;ll take a look the most popular React Meta Framework called NextJS. It&#39;s an almost magical set of tools that can help you build a site or app quickly. I&#39;ll also talk about some exciting new tools in the shorts including new sass and css frameworks...or libraries...or whatever you call them. Yeah the pace of the web is relentless and that&#39;s why you need the Toolbox</p>

  <div class="row">
    <main class="article-content px-3 px-sm-0 main col-lg-9">
    <p>Hello everyone this is Ray Villalobos and I stream about front-end and full stack tools Wednesdays at 1pm Eastern • 10am Pacific. Follow me and subscribe on LinkedIn and YouTube for more content. If you want to watch any past episodes, make sure you take a look at my blog <a href="http://raybo.org">raybo.org</a>.</p>
<p>It's been a while since I had one of these episodes, so I apologize. Just been super busy. When we get to course publishing, it's like a black hole of time just opens up right beside us.</p>
<p>As you know, I've been exploring new frameworks and I'm super surprised that the pace of the web continues to be relentless. Let's take a look at some recent tools that are piquing my interest.</p>
<h1 id="shorts">Shorts <a class="direct-link" href="#shorts"> </a></h1>
<p>Let's take a look at some of the cool projects that I found interesting lately. I feel like I have a backlog of these.</p>
<h2 id="scrollmovie.js">ScrollMovie.js <a class="direct-link" href="#scrollmovie.js"> </a></h2>
<p><a href="https://nagatapote.github.io/scroll-movie/"><img src="/images/toolbox/2022-04-07_01-53-25.png" alt="ScrollMovie.js"></a></p>
<p>I'm going to start you off with something ridiculously cute. This is a library to let you animate a background element on scroll.</p>
<h2 id="sublime-merge">Sublime Merge <a class="direct-link" href="#sublime-merge"> </a></h2>
<p><a href="https://www.sublimemerge.com/"><img src="/images/toolbox/2022-04-07_01-53-35.png" alt="Sublime Merge"></a></p>
<p>This is a new Git Client from the makers of my favorite previous editor...Sublime Text. It looks pretty amazing and like sublime it's super fast.</p>
<p>So, it feels less like a GUI editor than the GitHub client. I think that if you're still a user of Sublime Text, then you'll probably love this editor.</p>
<h2 id="json-visio-editor">JSON Visio Editor <a class="direct-link" href="#json-visio-editor"> </a></h2>
<p><a href="https://jsonvisio.com/editor"><img src="/images/toolbox/2022-04-07_01-54-11.png" alt="JSON Visio Editor"></a><br>
I use JSON in a lot of project, so this was a new approach to previewing JSON objects visually. Super Cool interface, you can change the orientation of the nodes and there's a few other ways to control the interface.</p>
<h2 id="mdash">MDash <a class="direct-link" href="#mdash"> </a></h2>
<p><a href="https://m-docs.org/"><img src="/images/toolbox/2022-04-07_01-54-49.png" alt="MDash"></a><br>
This is a strange new library that gives you components that are based on regular HTML tags, so they're easy to learn and tiny. It pushes web standards whenever possible.</p>
<p>This reminds me a bit of Pico.css that it makes your existing elements look great without having to use a bunch of styles.</p>
<p>If you look at the form element, for example, you can see that you simply create a web standards based form and it makes it look and function great.</p>
<p>For places where HTML elements dont' already exist, it lets you use special versions of the tag that start with m-dash.</p>
<h2 id="cirrus">Cirrus <a class="direct-link" href="#cirrus"> </a></h2>
<p><a href="https://www.cirrus-ui.com/"><img src="/images/toolbox/2022-04-07_01-55-41.png" alt="Cirrus"></a></p>
<p>This is a real interesting Development because it's basically Tailwind CSS, but for Sass. The advantage is that all of the configuration is done in sass instead of through JS config.</p>
<p>This is somewhat of a design system as well that looks pretty nice. Like Tailwind CSS it reduces the file size by only exporting what you're using in your project.</p>
<hr>
<h1 id="what's-next.js">What's Next.js <a class="direct-link" href="#what's-next.js"> </a></h1>
<p><a href="https://nextjs.org/"><img src="/images/toolbox/2022-04-07_01-56-23.png" alt="NextJS"></a></p>
<p>Next.js is a meta framework that adds features on top of React to help you build sites and applications. You see, React is awesome, but it doesn't have everything you need, it really focuses on letting you build interfaces.</p>
<p>In reality you need a few more things. If you look in the site, you can see that there's a lot of fancy words, so let's break some of the best parts down.</p>
<h3 id="hybrid-rendering">Hybrid Rendering <a class="direct-link" href="#hybrid-rendering"> </a></h3>
<p>First is you go to a page on the web, you contact a server that feeds you the page.</p>
<p>In recent years, platforms figured that a lot of what a server gives you is information that doesn't change depending on who you are, so it can -pre-build or render a page with say...my latest courses because that's not really different for everyone.</p>
<p>On other sites like Facebook or LinkedIn, the page is full of information personalized for you...say like the latest events you personally signed up for.</p>
<p>So Hybrid rendering gives you the best of both worlds, it lets you build sites that have pre-rendered data that doesn't change and add information from personalized data.</p>
<h3 id="smart-routing">Smart Routing <a class="direct-link" href="#smart-routing"> </a></h3>
<p>Routing means that certain paths will automatically map to URLs for your site and that you can easily use the data from those URLs to help send data or commands back to the server.</p>
<p>The routing also does something called pre-fetching, so that pages that you might be loading next are pre-fetched</p>
<h3 id="css-support">CSS Support <a class="direct-link" href="#css-support"> </a></h3>
<p>Out of the box Sass and CSS module support, although you still need a sass installation. Easy to add something like Tailwind CSS or a post processor.</p>
<p>It also supports something called styled-jsx, which lets you easily add CSS to each component or modify the global styles. There is support for other CSS in JS styles.</p>
<h3 id="pre-fetching-%26-hydration">Pre Fetching &amp; Hydration <a class="direct-link" href="#pre-fetching-%26-hydration"> </a></h3>
<p>Next.js pre-renders every page, creating HTML for each page it needs in advance.</p>
<p>It loads the minimum amount of JavaScript necessary, but it will wait until the page loads before interactive components are available.</p>
<p>You can choose to have the pre-rendering happen locally or on the server and choose which method on a page by page basis.</p>
<h3 id="dev-environment">Dev Environment <a class="direct-link" href="#dev-environment"> </a></h3>
<p>This is pretty common, but of course, Next has a pretty modern development environment with a live reload, fast refresh, code splitting and optimized bundling. It's pretty awesome out of the box.</p>
<h3 id="image-optimization">Image Optimization <a class="direct-link" href="#image-optimization"> </a></h3>
<p>Next.js optimizes images on-demand, when users request them. They are lazy loaded by default...which means that only images that are in the user's viewport will be loaded and new images will load when they scroll into view.</p>
<p>They will also avoid cumulative layout shift. This can be real annoying when you go to a site and the loading of elements will cause an item element to shift positions.</p>
<h3 id="utility-components">Utility Components <a class="direct-link" href="#utility-components"> </a></h3>
<p>Like the <code>&lt;Head&gt;</code> component will help you take care of common tasks.<br>
The <code>&lt;Script&gt;</code> component will let you load scripts.<br>
Styled JSX will allow you to load CSS that's scoped to a component, page, or globally.</p>
<h2 id="links">Links <a class="direct-link" href="#links"> </a></h2>
<p><a href="https://nagatapote.github.io/scroll-movie/">https://nagatapote.github.io/scroll-movie/</a><br>
<a href="https://www.sublimemerge.com/">https://www.sublimemerge.com/</a><br>
<a href="https://jsonvisio.com/editor">https://jsonvisio.com/editor</a><br>
<a href="https://m-docs.org/">https://m-docs.org/</a><br>
<a href="https://www.cirrus-ui.com/">https://www.cirrus-ui.com/</a><br>
<a href="https://nextjs.org/">https://nextjs.org/</a><br>
<a href="https://github.com/planetoftheweb/nextdemo">https://github.com/planetoftheweb/nextdemo</a></p>

    </main>
    <aside class="aside aside-supplemental d-none d-lg-block col-lg-3 mt-3">
      <h4>Contents</h4>
      <nav class="sticky-top" style="top: 100px;">
      <div class="">
                <ol>
                    
                    <li><a href="#scrollmovie.js">ScrollMovie.js</a>
            		</li>

                    <li><a href="#sublime-merge">Sublime Merge</a>
            		</li>

                    <li><a href="#json-visio-editor">JSON Visio Editor</a>
            		</li>

                    <li><a href="#mdash">MDash</a>
            		</li>

                    <li><a href="#cirrus">Cirrus</a>
            		</li>

                    <li><a href="#links">Links</a>
            		</li>
                </ol>
            </div>
      </nav>
    </aside>
  <div>
</main>
</article>

  <footer class="site-footer bg-transparent pb-3 pb-md-5">
    <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
    <div class="text-center">
    <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
  </footer>
  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>