<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="I was recording a course last week when I ran into an unsurmountable problem. You know the type where you think: I have no idea why this isn't working or how to solve this. Here's how I solve the big..and small problems." />
    <meta property="og:title" content="Make it Small" />
    <meta property="og:description" content="I was recording a course last week when I ran into an unsurmountable problem. You know the type where you think: I have no idea why this isn't working or how to solve this. Here's how I solve the big..and small problems." />
    <meta property="og:image" content="https://raybo.org/images/posts/1615354110381.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/newsletter/2021-03-10-apply-newsletter-make-it-small/">
    <meta name="twitter:title" content="Make it Small">
    <meta name="twitter:description" content="I was recording a course last week when I ran into an unsurmountable problem. You know the type where you think: I have no idea why this isn't working or how to solve this. Here's how I solve the big..and small problems.">
    <meta name="twitter:image" content="https://raybo.org/images/posts/1615354110381.png">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative">
    <nav class="site-nav family-sans navbar navbar-expand-md navbar-dark  fixed-top  py-0">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a> 
    </div>

    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link fw-bold  text-light" href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/toolbox/0/">toolbox</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                  <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                  <i class="bi bi-github text-secondary me-1"></i> github
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                  <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                  <i class="bi bi-twitter text-secondary me-1"></i> twitter
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                  <i class="bi bi-image text-secondary me-1"></i> flickr
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                  <i class="bi bi-youtube text-secondary me-1"></i> youtube
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                  <i class="bi bi-instagram text-secondary me-1"></i> instagram
              </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
  <header id="page-hero" class="site-header position-relative 100vw  site-header" style="min-height: 40vh;">
<section class="layout-hero position-absolute d-flex align-items-center" style="background-image: linear-gradient(rgba(126, 59, 151, .6) 50px, transparent), url(/images/posts/1615354110381.png); height: 100%; width: 100%;  filter: blur(20px);  transform: scale(1.1);" ></section>
<div class="layout-hero-content position-absolute d-flex align-items-center w-100 h-100">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h2 class="page-section-title text-light">Make it Small</h2>
        <p class="page-section-text text-light d-none d-md-block">
          I was recording a course last week when I ran into an unsurmountable problem. You know the type where you think: I have no idea why this isn't working or how to solve this. Here's how I solve the big..and small problems.
        </p>
      </div>
    </div>
  </div>
</div>
</header> 



 
<article id="main-content" class="site-main container mt-3 mb-5"

>
<main class="article-content px-3 px-sm-0 container">

  <div class="row">
    <main class="article-content px-3 px-sm-0 main col-lg-9">
    <p>I was recording a course last week when I ran into an unsurmountable problem. You know the type where you think: I have no idea why this isn't working or how to solve this. Being an experienced moron, I did what I always do. Sleep on it. Which doesn't exactly make the problem go away, but I know that at that point, what I really need is a break.</p>
<p>At times like this, I remember a scene in Man of Steel where as a boy, Superman starts coming into his powers and since some of them involved enhanced senses, he's overwhelmed by the amount of inputs he's receiving. He tells his mother...'The world is too big mom' and she wisely tells him to 'make it small' and to focus on just her voice.</p>
<div class="article-side-image">
<p><img src="https://media-exp1.licdn.com/dms/image/C4E12AQEbrStNeTrKmw/article-inline_image-shrink_1000_1488/0/1615354924012?e=1629936000&amp;v=beta&amp;t=Ck1julCx9p4FX078rUPku8LhXNKdwLczWfk6wsoFlfQ" alt="Funny Graphic: Doctors: searching Google doesn't make you a doctor...programmers: Hmmm."></p>
</div>
<p>That's how I solved my problem. I broke down the code into smaller pieces and attacked each one separately. Making sure each of the pieces was working properly and by focusing, I was able to isolate the problem. With the extra sleep, a fresh mind is always capable of a solving old problems.</p>
<h2 id="speaking-of...">Speaking of... <a class="direct-link" href="#speaking-of..."> </a></h2>
<p>Speaking of making things smaller, you should really check out a fantastic tool from Google called Squoosh. It can help you compress images using some of the web's newest formats like WebP, Avif and even JPEG XL. The controls are wrapped in an excellent GUI and there is a CLI available so you can compress a whole folder full of images or incorporate it into your videos.</p>
<p><lite-youtube videoid="KvQ4WCIXg0w"></lite-youtube></p>
<h2 id="icon-update">Icon Update <a class="direct-link" href="#icon-update"> </a></h2>
<p><a href="https://react-icons.github.io/react-icons/"><img src="https://media-exp1.licdn.com/dms/image/C4E12AQFm8R72ymx8TA/article-inline_image-shrink_1500_2232/0/1615372724663?e=1629936000&amp;v=beta&amp;t=53mw8pAm4Cdwb9a2zgvG7HU65ubCDPLTb57gl_H8uSo" alt="text"></a></p>
<p>In the last edition, I talked about one of my favorite libraries called <a href="https://react-icons.github.io/react-icons/">React Icons</a>, which is great, but there's been a whole lotta movement with icons on the web. Google, for example, just announced that they will be supporting <a href="https://fonts.google.com/icons">Icon Fonts</a> within Google Fonts. They're starting with Material Design icons, but since they've created a whole other tab, I expect this to grow quickly.</p>
<h2 id="things-i'm-posting-about">Things I'm Posting About <a class="direct-link" href="#things-i'm-posting-about"> </a></h2>
<p>I saw a cool new <a href="https://www.thiscodeworks.com/">Pinterest for Code</a> that you can use, which looks like a very cool idea. A quick site for building <a href="https://htmlboilerplates.com/">HTML boilerplates</a>. Plus a simpler analytics that is privacy friendly called <a href="https://counter.dev/">Counter</a>. Make sure you're following me, if you want to get about two new posts daily with cool stuff curated by me.</p>
<h2 id="how-about-that%3F">How About That? <a class="direct-link" href="#how-about-that%3F"> </a></h2>
<p><a href="https://livepeer.org/"><img src="https://media-exp1.licdn.com/dms/image/C4E12AQG35NWSpy0PSA/article-inline_image-shrink_1500_2232/0/1615373361549?e=1629936000&amp;v=beta&amp;t=J1AHqebNK010UkN44-ZSE95IUGNoI9ENRTg2R7nySGk" alt="Open Video Infrastructure"></a></p>
<p>One last thing I found interesting this week was an attempt to build an <a href="https://livepeer.org/">Open Video Infrastructure</a> to compete with other projects owned by large companies. The video market is really heating up. It will be interesting to see if this takes off, but I love seeing new approaches.</p>
<h2 id="should-i%2C-or-shouldn't-i%3F">Should I, or shouldn't I? <a class="direct-link" href="#should-i%2C-or-shouldn't-i%3F"> </a></h2>
<p>Have you heard of Clubhouse. It's currently a mac only, invite only App. The closest I can relate it to is a call in radio show, but with a lot of hosts and a lot more people having the ability to contribute the content.</p>
<p>I've been thinking of starting a weekly live stream here on LinkedIn, but Clubhouse also opens up some new possibilities. So let me know what you think? Should I jump in? What would you like to hear about.</p>
<p>Drop me a comment below, I've been really enjoying those every week. Here's some good ones from last week's newsletter.</p>
<p><img src="https://media-exp1.licdn.com/dms/image/C4E12AQGeRgt5UYB7Yw/article-inline_image-shrink_1000_1488/0/1615374046588?e=1629936000&amp;v=beta&amp;t=WIOl-Fow9TVHWwGXdW_2uscx6zuqWStprCAmzIxUaR0" alt="Comment: Thanks for the clamp() trick"></p>
<p><img src="https://media-exp1.licdn.com/dms/image/C4E12AQExblp6Xo6WXw/article-inline_image-shrink_1500_2232/0/1615374132731?e=1629936000&amp;v=beta&amp;t=tHBUDnox_XH77z11tniY5EwnvrBxnAaU69w_-7Y-DGg" alt="Comment: Love the tipo on react-icons"></p>
<p><img src="https://media-exp1.licdn.com/dms/image/C4E12AQFKH_419WBURg/article-inline_image-shrink_1500_2232/0/1615374145232?e=1629936000&amp;v=beta&amp;t=mASRl7SaU-iXa0uOgrXXT9Gx8xALjY8y_VTB36ZTYL8" alt="Comment: Nobody noticed the Rick Springfield reference?"></p>
<p>And ok..that last one was mine, but really? Nobody noticed. I might just be too old. See ya next week my Nerdherd!</p>

    </main>
    <aside class="aside aside-supplemental d-none d-lg-block col-lg-3 mt-3">
      <h4>Contents</h4>
      <nav class="sticky-top" style="top: 100px;">
      <div class="">
                <ol>
                    
                    <li><a href="#speaking-of...">Speaking of...  </a>
            		</li>

                    <li><a href="#icon-update">Icon Update  </a>
            		</li>

                    <li><a href="#things-i'm-posting-about">Things I'm Posting About  </a>
            		</li>

                    <li><a href="#how-about-that%3F">How About That?  </a>
            		</li>

                    <li><a href="#should-i%2C-or-shouldn't-i%3F">Should I, or shouldn't I?  </a>
            		</li>
                </ol>
            </div>
      </nav>
    </aside>
  <div>
</main>
</article>

    <footer class="site-footer bg-transparent pb-3 pb-md-5">
      <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
      <div class="text-center">
      <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </div>
    </footer>

  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>