<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="Learn full-stack developer skills with a clear, practical style" />
    <meta property="og:title" content="Raybo.org" />
    <meta property="og:description" content="Learn full-stack developer skills with a clear, practical style" />
    <meta property="og:image" content="https://raybo.org/images/site/graphic_courses.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/courses/4/">
    <meta name="twitter:title" content="Raybo.org">
    <meta name="twitter:description" content="Learn full-stack developer skills with a clear, practical style">
    <meta name="twitter:image" content="https://raybo.org/images/site/graphic_courses.png">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative bg-dark">
    <nav class="site-nav family-sans navbar navbar-expand-md bg-dark navbar-dark  fixed-top  py-0">
  <div class="container">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a>  <span class="d-none d-lg-inline">|</span> <span class="small text-light text-uppercase d-none d-lg-inline align-text-middle">Courses</span>
    </div>
    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link " href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/toolbox/0/">toolbox</a>
            
            <a class="nav-item nav-link" href="/shorts/0/">shorts</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                  <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                  <i class="bi bi-github text-secondary me-1"></i> github
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                  <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                  <i class="bi bi-twitter text-secondary me-1"></i> twitter
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                  <i class="bi bi-image text-secondary me-1"></i> flickr
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                  <i class="bi bi-youtube text-secondary me-1"></i> youtube
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                  <i class="bi bi-instagram text-secondary me-1"></i> instagram
              </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
  <header id="page-hero" class="site-header position-relative container  site-header" style="border-radius: 20px !important; margin-top: 60px; min-height: 50vh">
<section class="layout-hero position-absolute d-flex align-items-center" style="background-image: linear-gradient(rgba(126, 59, 151, .6) 50px, transparent), url(/images/site/graphic_courses.png); height: 100%; width: 100%; transform: scale(1.1);" ></section>
<div class="layout-hero-content position-absolute d-flex w-100" style="bottom: 0;">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h2 class="page-section-title text-light"></h2>
        <p class="page-section-text text-light d-none d-md-block">
          
        </p>
      </div>
    </div>
  </div>
</div>
</header> 



 
<article id="main-content" class="site-main container mt-3 mb-5"

>
<nav class="my-3" aria-label="Page navigation">
  <div class="pagination pagination-sm justify-content-center">
      
      <div class="page-item">
        <a class="page-link" href="//courses/3/index.html"><i class="bi bi-arrow-left"></i></a>
      </div>
      
    
      <div class="page-item "><a class="page-link" href="//courses/0/index.html">1</a></div>
    
      <div class="page-item "><a class="page-link" href="//courses/1/index.html">2</a></div>
    
      <div class="page-item "><a class="page-link" href="//courses/2/index.html">3</a></div>
    
      <div class="page-item "><a class="page-link" href="//courses/3/index.html">4</a></div>
    
      <div class="page-item active"><a class="page-link" href="//courses/4/index.html">5</a></div>
    
      <div class="page-item "><a class="page-link" href="//courses/5/index.html">6</a></div>
    
      <div class="page-item "><a class="page-link" href="//courses/6/index.html">7</a></div>
    

      
      <div class="page-item">
        <a class="page-link" href="//courses/5/index.html"><i class="bi bi-arrow-right"></i></a>
      </div>
      
  </div>
</nav>

  <div class="row">
    <div class="col-md-9">
      

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  mb-3 ">

    
      <div class="col-md-3">
        <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fangularjs-1-adding-registration-to-your-application-2" class="d-block mb-1 text-decoration-none"  target="_blank">
          <img class="item-title text-light w-100 img-fluid rounded" src="/images/courses/angular1-registration_tn.png" alt="AngularJS 1: Adding Registration to Your Application image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fangularjs-1-adding-registration-to-your-application-2" class="item-title text-light h1 mb-0 d-block text-decoration-none" target="_blank">AngularJS 1: Adding Registration to Your Application<i class="bi bi-link-45deg ms-1"></i></a>
      <div class="small d-block">
        <a href="/courses/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
          <i class="bi bi-collection-play-fill"></i>
        
        
        

        

        

        

        
        courses</a> | <time class="item-date" datetime="Dec 21, 2016">Dec 21, 2016</time></div>
      <div class="fs-6 text-body">In this short course, we'll create a simple and straightforward registration system that allows users to log in and log out of an application. The techniques use AngularJS and Google Firebase, a mobile development platform that makes registration easy and secure.</div>
      
  <div class="item-links">
  
    <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fangularjs-1-adding-registration-to-your-application-2" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-linkedin"></i><span class="ms-1 d-none d-lg-inline text-body">on LinkedIn</a></span>
    
    
    
    
    <i class="bi bi-globe"></i>
  
    
    <a href="https://github.com/planetoftheweb/angularregistration" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-github"></i><span class="ms-1 d-none d-lg-inline text-body">repo</a></span>
    
    
    
    <i class="bi bi-globe"></i>
  
  </div>
  

    </div>
  </div>
    
      

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fbuilding-a-progressive-web-app" class="d-block mb-1 text-decoration-none"  target="_blank">
          <img class="item-title text-light w-100 img-fluid rounded" src="/images/courses/progressivewebapp_tn.png" alt="Building a Progressive Web App image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fbuilding-a-progressive-web-app" class="item-title text-light h1 mb-0 d-block text-decoration-none" target="_blank">Building a Progressive Web App<i class="bi bi-link-45deg ms-1"></i></a>
      <div class="small d-block">
        <a href="/courses/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
          <i class="bi bi-collection-play-fill"></i>
        
        
        

        

        

        

        
        courses</a> | <time class="item-date" datetime="Dec 13, 2016">Dec 13, 2016</time></div>
      <div class="fs-6 text-body">Make your mobile web apps act like native iOS, Android, or Windows Phone applications. Make them progressive! Learn techniques to make web apps responsive and secure, work offline, and launch from the home screen.</div>
      
  <div class="item-links">
  
    <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fbuilding-a-progressive-web-app" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-linkedin"></i><span class="ms-1 d-none d-lg-inline text-body">on LinkedIn</a></span>
    
    
    
    
    <i class="bi bi-globe"></i>
  
    
    <a href="https://github.com/planetoftheweb/angularregistration" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-github"></i><span class="ms-1 d-none d-lg-inline text-body">repo</a></span>
    
    
    
    <i class="bi bi-globe"></i>
  
  </div>
  

    </div>
  </div>
    
      

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Ftooling-with-npm-scripts" class="d-block mb-1 text-decoration-none"  target="_blank">
          <img class="item-title text-light w-100 img-fluid rounded" src="/images/courses/npmscripts_tn.png" alt="Tooling with NPM Scripts image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Ftooling-with-npm-scripts" class="item-title text-light h1 mb-0 d-block text-decoration-none" target="_blank">Tooling with NPM Scripts<i class="bi bi-link-45deg ms-1"></i></a>
      <div class="small d-block">
        <a href="/courses/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
          <i class="bi bi-collection-play-fill"></i>
        
        
        

        

        

        

        
        courses</a> | <time class="item-date" datetime="Sep 29, 2016">Sep 29, 2016</time></div>
      <div class="fs-6 text-body">Looking for an alternative build tool? Try npm, the node package manager. Learn how to create npm scripts to automate all sorts of build tasks.</div>
      
  <div class="item-links">
  
    <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Ftooling-with-npm-scripts" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-linkedin"></i><span class="ms-1 d-none d-lg-inline text-body">on LinkedIn</a></span>
    
    
    
    
    <i class="bi bi-globe"></i>
  
    
    <a href="https://github.com/planetoftheweb/npmtooling" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-github"></i><span class="ms-1 d-none d-lg-inline text-body">repo</a></span>
    
    
    
    <i class="bi bi-globe"></i>
  
  </div>
  

    </div>
  </div>
    
      

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fweb-development-foundations-full-stack-vs-front-end" class="d-block mb-1 text-decoration-none"  target="_blank">
          <img class="item-title text-light w-100 img-fluid rounded" src="/images/courses/fullstackvsfrontend_tn.png" alt="Web Development Foundations: Full-Stack vs Front-End image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fweb-development-foundations-full-stack-vs-front-end" class="item-title text-light h1 mb-0 d-block text-decoration-none" target="_blank">Web Development Foundations: Full-Stack vs Front-End<i class="bi bi-link-45deg ms-1"></i></a>
      <div class="small d-block">
        <a href="/courses/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
          <i class="bi bi-collection-play-fill"></i>
        
        
        

        

        

        

        
        courses</a> | <time class="item-date" datetime="Jun 23, 2016">Jun 23, 2016</time></div>
      <div class="fs-6 text-body">Do you want to become a web developer? Learn about the skills and tools you need to get a job as a front-end, back-end, or full-stack web developer.</div>
      
  <div class="item-links">
  
    <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fweb-development-foundations-full-stack-vs-front-end" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-linkedin"></i><span class="ms-1 d-none d-lg-inline text-body">on LinkedIn</a></span>
    
    
    
    
    <i class="bi bi-globe"></i>
  
  </div>
  

    </div>
  </div>
    
      

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fbuilding-a-responsive-single-page-design-with-postcss" class="d-block mb-1 text-decoration-none"  target="_blank">
          <img class="item-title text-light w-100 img-fluid rounded" src="/images/courses/postcss_tn.png" alt="Building a Responsive Single-Page Design with PostCSS image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fbuilding-a-responsive-single-page-design-with-postcss" class="item-title text-light h1 mb-0 d-block text-decoration-none" target="_blank">Building a Responsive Single-Page Design with PostCSS<i class="bi bi-link-45deg ms-1"></i></a>
      <div class="small d-block">
        <a href="/courses/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
          <i class="bi bi-collection-play-fill"></i>
        
        
        

        

        

        

        
        courses</a> | <time class="item-date" datetime="Jan 22, 2016">Jan 22, 2016</time></div>
      <div class="fs-6 text-body">Learn how to create animated single-page websites with PostCSS, the CSS post-processor that extends the power of CSS through JavaScript.</div>
      
  <div class="item-links">
  
    <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fbuilding-a-responsive-single-page-design-with-postcss" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-linkedin"></i><span class="ms-1 d-none d-lg-inline text-body">on LinkedIn</a></span>
    
    
    
    
    <i class="bi bi-globe"></i>
  
    
    <a href="https://github.com/planetoftheweb/postcsslayouts" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-github"></i><span class="ms-1 d-none d-lg-inline text-body">repo</a></span>
    
    
    
    <i class="bi bi-globe"></i>
  
  </div>
  

    </div>
  </div>
    
      

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fpostcss-first-look%2Fwhat-is-postcss" class="d-block mb-1 text-decoration-none"  target="_blank">
          <img class="item-title text-light w-100 img-fluid rounded" src="/images/courses/postcssfirstlook_tn.png" alt="PostCSS: First Look image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fpostcss-first-look%2Fwhat-is-postcss" class="item-title text-light h1 mb-0 d-block text-decoration-none" target="_blank">PostCSS: First Look<i class="bi bi-link-45deg ms-1"></i></a>
      <div class="small d-block">
        <a href="/courses/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
          <i class="bi bi-collection-play-fill"></i>
        
        
        

        

        

        

        
        courses</a> | <time class="item-date" datetime="Jan 14, 2016">Jan 14, 2016</time></div>
      <div class="fs-6 text-body">Want to write CSS faster and more efficiently? Get a first look at PostCSS, the engine for processing CSS with JavaScript.</div>
      
  <div class="item-links">
  
    <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fpostcss-first-look%2Fwhat-is-postcss" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-linkedin"></i><span class="ms-1 d-none d-lg-inline text-body">on LinkedIn</a></span>
    
    
    
    
    <i class="bi bi-globe"></i>
  
    
    <a href="https://github.com/planetoftheweb/postcss" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-github"></i><span class="ms-1 d-none d-lg-inline text-body">repo</a></span>
    
    
    
    <i class="bi bi-globe"></i>
  
  </div>
  

    </div>
  </div>
    
      

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Flearning-markdown%2Fwhat-is-markdown" class="d-block mb-1 text-decoration-none"  target="_blank">
          <img class="item-title text-light w-100 img-fluid rounded" src="/images/courses/markdown_tn.png" alt="Learning Markdown image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Flearning-markdown%2Fwhat-is-markdown" class="item-title text-light h1 mb-0 d-block text-decoration-none" target="_blank">Learning Markdown<i class="bi bi-link-45deg ms-1"></i></a>
      <div class="small d-block">
        <a href="/courses/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
          <i class="bi bi-collection-play-fill"></i>
        
        
        

        

        

        

        
        courses</a> | <time class="item-date" datetime="Dec 23, 2015">Dec 23, 2015</time></div>
      <div class="fs-6 text-body">Get started with Markdown, the lightweight text format that allows you to create documents, rich text, or HTML markup using any plain text editor.</div>
      
  <div class="item-links">
  
    <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Flearning-markdown%2Fwhat-is-markdown" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-linkedin"></i><span class="ms-1 d-none d-lg-inline text-body">on LinkedIn</a></span>
    
    
    
    
    <i class="bi bi-globe"></i>
  
  </div>
  

    </div>
  </div>
    
      

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="https://www.linkedin.com/learning/angularjs-1-form-validation?u=104" class="d-block mb-1 text-decoration-none"  target="_blank">
          <img class="item-title text-light w-100 img-fluid rounded" src="/images/courses/angularjs1-formvalidation_tn.png" alt="AngularJS: Form Validation image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="https://www.linkedin.com/learning/angularjs-1-form-validation?u=104" class="item-title text-light h1 mb-0 d-block text-decoration-none" target="_blank">AngularJS: Form Validation<i class="bi bi-link-45deg ms-1"></i></a>
      <div class="small d-block">
        <a href="/courses/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
          <i class="bi bi-collection-play-fill"></i>
        
        
        

        

        

        

        
        courses</a> | <time class="item-date" datetime="Nov 10, 2015">Nov 10, 2015</time></div>
      <div class="fs-6 text-body">Learn how to implement dynamic form validation on any HTML form using the built-in validation properties and methods in AngularJS.</div>
      
  <div class="item-links">
  
    <a href="https://www.linkedin.com/learning/angularjs-1-form-validation?u=104" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-linkedin"></i><span class="ms-1 d-none d-lg-inline text-body">on LinkedIn</a></span>
    
    
    
    
    <i class="bi bi-globe"></i>
  
    
    <a href="https://github.com/planetoftheweb/angularformvalidation" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-github"></i><span class="ms-1 d-none d-lg-inline text-body">repo</a></span>
    
    
    
    <i class="bi bi-globe"></i>
  
  </div>
  

    </div>
  </div>
    
      

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fsass-essential-training" class="d-block mb-1 text-decoration-none"  target="_blank">
          <img class="item-title text-light w-100 img-fluid rounded" src="/images/courses/sass_tn.png" alt="Sass Essential Training image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fsass-essential-training" class="item-title text-light h1 mb-0 d-block text-decoration-none" target="_blank">Sass Essential Training<i class="bi bi-link-45deg ms-1"></i></a>
      <div class="small d-block">
        <a href="/courses/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
          <i class="bi bi-collection-play-fill"></i>
        
        
        

        

        

        

        
        courses</a> | <time class="item-date" datetime="Oct 06, 2015">Oct 06, 2015</time></div>
      <div class="fs-6 text-body">Learn the fundamentals of Syntactically Awesome Stylesheets (Sass), a modern web development language that helps you write CSS better, faster, and with more advanced features.</div>
      
  <div class="item-links">
  
    <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fsass-essential-training" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-linkedin"></i><span class="ms-1 d-none d-lg-inline text-body">on LinkedIn</a></span>
    
    
    
    
    <i class="bi bi-globe"></i>
  
    
    <a href="https://github.com/planetoftheweb/sassEssentials" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-github"></i><span class="ms-1 d-none d-lg-inline text-body">repo</a></span>
    
    
    
    <i class="bi bi-globe"></i>
  
  </div>
  

    </div>
  </div>
    
      

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fbootstrap-3-essential-training" class="d-block mb-1 text-decoration-none"  target="_blank">
          <img class="item-title text-light w-100 img-fluid rounded" src="/images/courses/bootstrap3_tn.png" alt="Bootstrap 3 Essential Training image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fbootstrap-3-essential-training" class="item-title text-light h1 mb-0 d-block text-decoration-none" target="_blank">Bootstrap 3 Essential Training<i class="bi bi-link-45deg ms-1"></i></a>
      <div class="small d-block">
        <a href="/courses/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
          <i class="bi bi-collection-play-fill"></i>
        
        
        

        

        

        

        
        courses</a> | <time class="item-date" datetime="Aug 26, 2015">Aug 26, 2015</time></div>
      <div class="fs-6 text-body">Everything you need to know to get started building responsive, accessible, mobile-first websites with Bootstrap 3.</div>
      
  <div class="item-links">
  
    <a href="https://linkedin-learning.pxf.io/c/1252977/449670/8005?u=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Fbootstrap-3-essential-training" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-linkedin"></i><span class="ms-1 d-none d-lg-inline text-body">on LinkedIn</a></span>
    
    
    
    
    <i class="bi bi-globe"></i>
  
    
    <a href="https://github.com/planetoftheweb/bootstrap" class="d-none d-lg-inline me-3 me-lg-1 text-secondary text-decoration-none small"><i class="bi bi-github"></i><span class="ms-1 d-none d-lg-inline text-body">repo</a></span>
    
    
    
    <i class="bi bi-globe"></i>
  
  </div>
  

    </div>
  </div>
    <nav class="my-3" aria-label="Page navigation">
  <div class="pagination pagination-sm justify-content-center">
      
      <div class="page-item">
        <a class="page-link" href="//courses/3/index.html"><i class="bi bi-arrow-left"></i></a>
      </div>
      
    
      <div class="page-item "><a class="page-link" href="//courses/0/index.html">1</a></div>
    
      <div class="page-item "><a class="page-link" href="//courses/1/index.html">2</a></div>
    
      <div class="page-item "><a class="page-link" href="//courses/2/index.html">3</a></div>
    
      <div class="page-item "><a class="page-link" href="//courses/3/index.html">4</a></div>
    
      <div class="page-item active"><a class="page-link" href="//courses/4/index.html">5</a></div>
    
      <div class="page-item "><a class="page-link" href="//courses/5/index.html">6</a></div>
    
      <div class="page-item "><a class="page-link" href="//courses/6/index.html">7</a></div>
    

      
      <div class="page-item">
        <a class="page-link" href="//courses/5/index.html"><i class="bi bi-arrow-right"></i></a>
      </div>
      
  </div>
</nav>

    </div>
    <div class="col-md-3">
      

      <div class="sidebar-videos">
        <h6 class="text-secondary mt-3 px-3 px-sm-0">Latest Videos</h6>
        
        
    <style>
      #sidebar-videos .carousel-control-prev, #sidebar-videos .carousel-control-next {
        align-items: flex-start;
        top: 90px;
      }
    </style>

    <div id="sidebar-videos" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        
          
          <div class="carousel-item  active ">
            
            <lite-youtube videoid="k2RnfcjDN2g" style="background-image: url('/images/videos/managingtheDOM_tn.jpg'); width:100%;">
              <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Managing the DOM to Automate the creation of Bootstrap 5 Indicators.</span></button>
            </lite-youtube>
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">May 20, 2021</time>
              <a href="https://www.youtube.com/watch?v=k2RnfcjDN2g" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">Managing the DOM to Automate the creation of Bootstrap 5 Indicators.</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">There are two techniques you can use to add elements to the DOM. You can create the elements from scratch and then add properties. This is part one of a short, two part series where I show you how to manage the DOM. In this example, I&#39;m using Bootstrap 5 to automate the creation of indicators on one or more Carousels, but it&#39;s a tip that you should be comfortable with.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <lite-youtube videoid="KHF6nysy0-c" style="background-image: url('https://i.ytimg.com/vi/KHF6nysy0-c/hqdefault.jpg'); width:100%;">
              <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Hacking the Bootstrap 5 Carousel: Consistent Height Carousels with CSS Gradients and Object Fit</span></button>
            </lite-youtube>
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Apr 12, 2021</time>
              <a href="https://www.youtube.com/watch?v=KHF6nysy0-c" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">Hacking the Bootstrap 5 Carousel: Consistent Height Carousels with CSS Gradients and Object Fit</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">The Bootstrap carousel is one of the most popular components in Bootstrap 5, but we have the technology to improve it and at the same time learn about one of my favorite new CSS features object-position and object-fit.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <lite-youtube videoid="0-1aD5M40js" style="background-image: url('https://i.ytimg.com/vi/0-1aD5M40js/hqdefault.jpg'); width:100%;">
              <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Building Sidebar Carousels with CSS by Hacking the Bootstrap Carousel</span></button>
            </lite-youtube>
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Apr 04, 2021</time>
              <a href="https://www.youtube.com/watch?v=0-1aD5M40js" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">Building Sidebar Carousels with CSS by Hacking the Bootstrap Carousel</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">You don&#39;t have to use a single carousel on a page, they work really well on sidebars to cycle through content, getting attention by using their sliding or fading features.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <lite-youtube videoid="71RrEJ00gPk" style="background-image: url('/images/videos/launch-react-graphql_tn.jpg'); width:100%;">
              <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Understanding how React Hooks work with GraphQL using the Github GraphQL API</span></button>
            </lite-youtube>
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Mar 24, 2021</time>
              <a href="https://www.youtube.com/watch?v=71RrEJ00gPk" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">Understanding how React Hooks work with GraphQL using the Github GraphQL API</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">Like great wine, there are some tools that pair exceptionally well with each other. One of those is React and GrahpQL. To celebrate the launch of my new course, I&#39;m hosting a new livestream to talk about how they work together, why you should build something with them as soon as possible and how to use them with React Hooks.</p>
            </div>
          </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#sidebar-videos"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#sidebar-videos"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

        <a href="/videos/0" class="d-lg-block text-secondary family-sans"><i class="fab fa-youtube"></i> All Videos</a>
      </div>

      <div class="sidebar-newsletter">
        <h6 class="text-secondary mt-3 px-3 px-sm-0">Apply Newsletter</h6>
        
        
    <style>
      #sidebar-newsletter .carousel-control-prev, #sidebar-newsletter .carousel-control-next {
        align-items: flex-start;
        top: 90px;
      }
    </style>

    <div id="sidebar-newsletter" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        
          
          <div class="carousel-item  active ">
            
            <img class="d-block w-100" src="/images/newsletter/thereyet_tn.jpg" alt="The There Yet photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Oct 28, 2021</time>
              <a href="/newsletter/2021-10-28-TheThereYet/" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">The There Yet</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">In this edition, I reminisce about the time I ran into someone that looked just like my friend Morten...but with a Mohak, then ran into Morten. Plus what&#39;s new in the GitHub Universe conference, the Tailwind CSS 3.0 Alpha and a brand new episode of the Toolbox.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/newsletter/homework_tn.jpg" alt="The Home Work photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Oct 22, 2021</time>
              <a href="/newsletter/2021-10-22-The-Home-Work/" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">The Home Work</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">Last week, in an interview with the Wall Street Journal, Google CEO Sundar Pichai announced where their policy for work is going three days in the office/four weeks working from home a year. The change in the structure of work is going to be one of the biggest shifts on how companies will operate in the future. Here&#39;s what I think.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/newsletter/lame-outage_tn.jpg" alt="The Lame Outage photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Oct 14, 2021</time>
              <a href="/newsletter/2021-10-14-The-Lame-Outage/" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">The Lame Outage</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">Facebook went down this week and I almost didn&#39;t notice, but I did come back to streaming with a new Toolbox Episode, some gems in the Toolbox Shorts and some other amazing tidbits.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/newsletter/yesmore_tn.jpg" alt="The Yes More photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Oct 07, 2021</time>
              <a href="/newsletter/2021-10-07-The-Yes-More/" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">The Yes More</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">This week, I remember another famous and infamous Panamenian who managed to do something great once he was unable to quit. I&#39;ve been gone for a few weeks, so I&#39;m slowly gearing back up to speed, so find out about my two upcoming toolbox episodes and some of my new courses.</p>
            </div>
          </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#sidebar-newsletter"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#sidebar-newsletter"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

        <a href="/newsletter/0" class="d-lg-block text-secondary family-sans"><i class="fas fa-newspaper"></i> All Articles</a>
        <a href="https://www.linkedin.com/newsletters/apply-for-web-developers-6674822532509655040/" class="d-lg-block text-secondary family-sans"><i class="fab fa-linkedin"></i> Subscribe</a>
      </div>

    </div>
  </div>

</article>

  <footer class="site-footer bg-transparent pb-3 pb-md-5">
    <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
    <div class="text-center">
    <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
  </footer>
  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>