<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="Learn full-stack developer skills with a clear, practical style" />
    <meta property="og:title" content="Raybo.org" />
    <meta property="og:description" content="Learn full-stack developer skills with a clear, practical style" />
    <meta property="og:image" content="https://raybo.org/images/raybo.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/">
    <meta name="twitter:title" content="Raybo.org">
    <meta name="twitter:description" content="Learn full-stack developer skills with a clear, practical style">
    <meta name="twitter:image" content="https://raybo.org/images/raybo.jpg">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative">
    <nav class="site-nav family-sans navbar navbar-expand-md navbar-dark  fixed-top  py-0">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a> 
    </div>

    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link fw-bold  text-light" href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/toolbox/0/">toolbox</a>
            
            <a class="nav-item nav-link" href="/shorts/0/">shorts</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                  <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                  <i class="bi bi-github text-secondary me-1"></i> github
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                  <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                  <i class="bi bi-twitter text-secondary me-1"></i> twitter
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                  <i class="bi bi-image text-secondary me-1"></i> flickr
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                  <i class="bi bi-youtube text-secondary me-1"></i> youtube
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                  <i class="bi bi-instagram text-secondary me-1"></i> instagram
              </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    





  <header id="page-hero">
  
  <header id="layout-carousel" 
  class="carousel 100vw d-none d-sm-flex justify-content-center align-items-center  slide
    carousel-fade"
    
     
    data-bs-ride="carousel"
    
  >

  
  <div class="carousel-indicators"></div>
  
 
  <div class="carousel-inner">

    
    <div class="carousel-item active" 
      >
      <a href="/newsletter/2021-08-05-The_Professional_Developer/">
        <img class="d-block w-100" src="/images/newsletter/unchangingessence.png" alt="The Unchanging Essence photo"
          style="max-height: 40vh; overflow:hidden">
        <div class="carousel-caption">
          <div class="container">
          <h4 class="d-none d-lg-block text-white">The Unchanging Essence</h4>
          <p class="d-none d-xl-block" style="font-size: .9em">This week, I talk about the best advice I gave to some students from Yale, realize I&#39;m not that different from who I was in high school, talk about my meeting with the old NAP crew, plus I realize the course I just finished two days ago, needs an update.</p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="carousel-item " 
      >
      <a href="/toolbox/2021-08-04-Whats-New-In-Bootstrap-5-The-Toolbox-Ep-02/">
        <img class="d-block w-100" src="/images/toolbox/bootstrap52-tbep02.png" alt="What&#39;s new in Bootstrap 5.1? The Toolbox - Episode 02 photo"
          style="max-height: 40vh; overflow:hidden">
        <div class="carousel-caption">
          <div class="container">
          <h4 class="d-none d-lg-block text-white">What&#39;s new in Bootstrap 5.1? The Toolbox - Episode 02</h4>
          <p class="d-none d-xl-block" style="font-size: .9em">In this episode...Bootstrap has released a new version of it&#39;s popular front end Framework. V ersion 5.1 offers lots of new features and a move towards CSS Grid. In this episode, we&#39;ll discuss the changes and what they mean to someone who wants to update.</p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="carousel-item " 
      >
      <a href="/newsletter/2021-07-29-The-Necessary-Change/">
        <img class="d-block w-100" src="/images/newsletter/necessarychange.png" alt="The Necessary Change photo"
          style="max-height: 40vh; overflow:hidden">
        <div class="carousel-caption">
          <div class="container">
          <h4 class="d-none d-lg-block text-white">The Necessary Change</h4>
          <p class="d-none d-xl-block" style="font-size: .9em">My world has been changing and I&#39;ve working hard to keep up with it, so I show you how I learned from the mistakes of IBM...and Interstellar? You can&#39;t stop change, but when it comes you can be ready to do what&#39;s necessary.&quot;</p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="carousel-item " 
      >
      <a href="/newsletter/2021-07-22-The-Unforgettable-Ride/">
        <img class="d-block w-100" src="/images/newsletter/unforgettableride.png" alt="The Unforgettable Ride photo"
          style="max-height: 40vh; overflow:hidden">
        <div class="carousel-caption">
          <div class="container">
          <h4 class="d-none d-lg-block text-white">The Unforgettable Ride</h4>
          <p class="d-none d-xl-block" style="font-size: .9em">Having launched The Toolbox this week, my thoughts go back to my childhood and how teaching myself how to ride a bike taught me everything I needed to know about learning things permanently.</p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="carousel-item " 
      >
      <a href="/toolbox/2021-07-21-Managing-your-projects-with-GitHub-The-Toolbox-Ep-01/">
        <img class="d-block w-100" src="/images/toolbox/GithubTimeMachine.jpg" alt="How Can Github Help me Manage my Development Projects? The Toolbox - Episode 01 photo"
          style="max-height: 40vh; overflow:hidden">
        <div class="carousel-caption">
          <div class="container">
          <h4 class="d-none d-lg-block text-white">How Can Github Help me Manage my Development Projects? The Toolbox - Episode 01</h4>
          <p class="d-none d-xl-block" style="font-size: .9em">In this episode...the official first episode of the Toolbox, we&#39;ll take a look at some great new tools, including my new favorite flowchart designer, a site that explains the shell and I&#39;ll introduce you to the tools inside Github that help with Project Management.</p>
          </div>
        </div>
      </a>
    </div>
    
  </div>

  
  <div class="carousel-buttons"></div>
  
</header>
  </header>


<style>
.video-list::-webkit-scrollbar {
    display: none;
}
.video-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
</style>

<div id="main-content" >

<div class=" bg-primary vw-100 py-3">
  <div class="video-list d-flex flex-row flex-nowrap" style="overflow-y: scroll">
    
    
    <div class="ps-3">
  <lite-youtube videoid="hiI-CTcXZZs" style="background-image: url('/images/videos/githubcopilot_tn.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">GitHub Copilot Demo and Review</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=hiI-CTcXZZs" class="lh-1 text-white text-decoration-none">GitHub Copilot Demo and Review</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="k2RnfcjDN2g" style="background-image: url('/images/videos/managingtheDOM_tn.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Managing the DOM to Automate the creation of Bootstrap 5 Indicators.</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=k2RnfcjDN2g" class="lh-1 text-white text-decoration-none">Managing the DOM to Automate the creation of Bootstrap 5 Indicators.</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="KHF6nysy0-c" style="background-image: url('https://i.ytimg.com/vi/KHF6nysy0-c/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Hacking the Bootstrap 5 Carousel: Consistent Height Carousels with CSS Gradients and Object Fit</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=KHF6nysy0-c" class="lh-1 text-white text-decoration-none">Hacking the Bootstrap 5 Carousel: Consistent Height Carousels with CSS Gradients and Object Fit</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="0-1aD5M40js" style="background-image: url('https://i.ytimg.com/vi/0-1aD5M40js/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Building Sidebar Carousels with CSS by Hacking the Bootstrap Carousel</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=0-1aD5M40js" class="lh-1 text-white text-decoration-none">Building Sidebar Carousels with CSS by Hacking the Bootstrap Carousel</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="71RrEJ00gPk" style="background-image: url('/images/videos/launch-react-graphql_tn.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Understanding how React Hooks work with GraphQL using the Github GraphQL API</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=71RrEJ00gPk" class="lh-1 text-white text-decoration-none">Understanding how React Hooks work with GraphQL using the Github GraphQL API</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="UQkhm_fQnOU" style="background-image: url('https://i.ytimg.com/vi/UQkhm_fQnOU/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Best Web Developer Tools, Extensions and Modules to Get Started on your Next Web Design Project</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=UQkhm_fQnOU" class="lh-1 text-white text-decoration-none">Best Web Developer Tools, Extensions and Modules to Get Started on your Next Web Design Project</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="KvQ4WCIXg0w" style="background-image: url('https://i.ytimg.com/vi/KvQ4WCIXg0w/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Automate Image Compression for your Websites with the latest codecs using Squoosh from Google</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=KvQ4WCIXg0w" class="lh-1 text-white text-decoration-none">Automate Image Compression for your Websites with the latest codecs using Squoosh from Google</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="CICYdO0g8Ew" style="background-image: url('https://i.ytimg.com/vi/CICYdO0g8Ew/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">CSS Tips and Tricks: Responsive content without media queries using CSS Clamp()</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=CICYdO0g8Ew" class="lh-1 text-white text-decoration-none">CSS Tips and Tricks: Responsive content without media queries using CSS Clamp()</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="Nhpyb1jx54A" style="background-image: url('https://i.ytimg.com/vi/Nhpyb1jx54A/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Bootstrap Icons - Free Icons for Web Design</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=Nhpyb1jx54A" class="lh-1 text-white text-decoration-none">Bootstrap Icons - Free Icons for Web Design</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="6ULHBv_0Y3U" style="background-image: url('https://i.ytimg.com/vi/6ULHBv_0Y3U/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Tailwind CSS vs Bootstrap-Is it time to switch?</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=6ULHBv_0Y3U" class="lh-1 text-white text-decoration-none">Tailwind CSS vs Bootstrap-Is it time to switch?</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="TLb0FyS2p2c" style="background-image: url('https://i.ytimg.com/vi/TLb0FyS2p2c/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">JavaScript ES2020 New Features-Optional Chaining</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=TLb0FyS2p2c" class="lh-1 text-white text-decoration-none">JavaScript ES2020 New Features-Optional Chaining</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="bjR4kHGsX3E" style="background-image: url('https://i.ytimg.com/vi/bjR4kHGsX3E/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">The Recap - Github Universe Edition</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=bjR4kHGsX3E" class="lh-1 text-white text-decoration-none">The Recap - Github Universe Edition</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="https://www.youtube.com/watch?v=aDDKibLYm18" style="background-image: url('https://i.ytimg.com/vi/aDDKibLYm18/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Using LinkedIn Learning courses with Github Repos</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=https://www.youtube.com/watch?v=aDDKibLYm18" class="lh-1 text-white text-decoration-none">Using LinkedIn Learning courses with Github Repos</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="l1DeaNvAOb8" style="background-image: url('https://i.ytimg.com/vi/l1DeaNvAOb8/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Notyf, A JavaScript Notification Library that&#39;s fully customizable</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=l1DeaNvAOb8" class="lh-1 text-white text-decoration-none">Notyf, A JavaScript Notification Library that&#39;s fully customizable</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="vlReYJkGNpQ" style="background-image: url('https://i.ytimg.com/vi/vlReYJkGNpQ/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">How to manage your Software Development Career Q&amp;A</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=vlReYJkGNpQ" class="lh-1 text-white text-decoration-none">How to manage your Software Development Career Q&amp;A</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="u7ta6qj_aCw" style="background-image: url('https://i.ytimg.com/vi/u7ta6qj_aCw/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Checking Out Bootstrap&#39;s NPM Starter Project</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=u7ta6qj_aCw" class="lh-1 text-white text-decoration-none">Checking Out Bootstrap&#39;s NPM Starter Project</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="fKY8S8L8d5c" style="background-image: url('https://i.ytimg.com/vi/fKY8S8L8d5c/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Bootstrap 5 Alpha 1. What&#39;s new and what to know if you&#39;re migrating.</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=fKY8S8L8d5c" class="lh-1 text-white text-decoration-none">Bootstrap 5 Alpha 1. What&#39;s new and what to know if you&#39;re migrating.</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="in9JuYB0J7Q" style="background-image: url('https://i.ytimg.com/vi/in9JuYB0J7Q/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Could this be the best new CSS Icon Library?</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=in9JuYB0J7Q" class="lh-1 text-white text-decoration-none">Could this be the best new CSS Icon Library?</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="hbZfpsdC3-Q" style="background-image: url('https://i.ytimg.com/vi/hbZfpsdC3-Q/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Tech Peeves: What makes you crazy about tech</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=hbZfpsdC3-Q" class="lh-1 text-white text-decoration-none">Tech Peeves: What makes you crazy about tech</a>
  </div>
</div>
    
    <div class="ps-3">
  <lite-youtube videoid="Sk4dX9IuDb8" style="background-image: url('https://i.ytimg.com/vi/Sk4dX9IuDb8/hqdefault.jpg'); width:400px;">
    <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Let&#39;s Play with Github&#39;s CodeSpaces</span></button>
  </lite-youtube>
  <div style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
    <a href="https://www.youtube.com/watch?v=Sk4dX9IuDb8" class="lh-1 text-white text-decoration-none">Let&#39;s Play with Github&#39;s CodeSpaces</a>
  </div>
</div>
    </div>
</div>


<article class="page-home site-main container"

>
<div class="row">
  <div class="col">
    <h6 class="family-sans text-secondary mt-3 mb-2 px-3 px-sm-0">Latest Posts</h6>
    

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  mb-3 ">

    
      <div class="col-md-3">
        <a href="/newsletter/2021-08-05-The_Professional_Developer/" class="d-block mb-1 text-decoration-none"  >
          <img class="item-title  w-100 img-fluid rounded" src="/images/newsletter/unchangingessence_tn.jpg" alt="The Unchanging Essence image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="/newsletter/2021-08-05-The_Professional_Developer/" class="item-title h2 mb-0 d-block text-decoration-none" >The Unchanging Essence</a>
      <div class="small d-block">
        <a href="/newsletter/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
        
        
          <i class="bi bi-newspaper"></i>  
        

        

        

        

        
        newsletter</a> | <time class="item-date" datetime="Aug 05, 2021">Aug 05, 2021</time></div>
      <div class="fs-6 text-body">This week, I talk about the best advice I gave to some students from Yale, realize I'm not that different from who I was in high school, talk about my meeting with the old NAP crew, plus I realize the course I just finished two days ago, needs an update.</div>
        

    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="/toolbox/2021-08-04-Whats-New-In-Bootstrap-5-The-Toolbox-Ep-02/" class="d-block mb-1 text-decoration-none"  >
          <img class="item-title  w-100 img-fluid rounded" src="/images/toolbox/bootstrap52-tbep02_tn.jpg" alt="What&#39;s new in Bootstrap 5.1? The Toolbox - Episode 02 image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="/toolbox/2021-08-04-Whats-New-In-Bootstrap-5-The-Toolbox-Ep-02/" class="item-title h2 mb-0 d-block text-decoration-none" >What's new in Bootstrap 5.1? The Toolbox - Episode 02</a>
      <div class="small d-block">
        <a href="/toolbox/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
        
        

        
          <i class="bi bi-tools"></i> 
        

        

        

        
        toolbox</a> | <time class="item-date" datetime="Aug 04, 2021">Aug 04, 2021</time></div>
      <div class="fs-6 text-body">In this episode...Bootstrap has released a new version of it's popular front end Framework. V ersion 5.1 offers lots of new features and a move towards CSS Grid. In this episode, we'll discuss the changes and what they mean to someone who wants to update.</div>
        

    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="/newsletter/2021-07-29-The-Necessary-Change/" class="d-block mb-1 text-decoration-none"  >
          <img class="item-title  w-100 img-fluid rounded" src="/images/newsletter/necessarychange_tn.jpg" alt="The Necessary Change image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="/newsletter/2021-07-29-The-Necessary-Change/" class="item-title h2 mb-0 d-block text-decoration-none" >The Necessary Change</a>
      <div class="small d-block">
        <a href="/newsletter/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
        
        
          <i class="bi bi-newspaper"></i>  
        

        

        

        

        
        newsletter</a> | <time class="item-date" datetime="Jul 29, 2021">Jul 29, 2021</time></div>
      <div class="fs-6 text-body">My world has been changing and I've working hard to keep up with it, so I show you how I learned from the mistakes of IBM...and Interstellar? You can't stop change, but when it comes you can be ready to do what's necessary."</div>
        

    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="/newsletter/2021-07-22-The-Unforgettable-Ride/" class="d-block mb-1 text-decoration-none"  >
          <img class="item-title  w-100 img-fluid rounded" src="/images/newsletter/unforgettableride_tn.jpg" alt="The Unforgettable Ride image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="/newsletter/2021-07-22-The-Unforgettable-Ride/" class="item-title h2 mb-0 d-block text-decoration-none" >The Unforgettable Ride</a>
      <div class="small d-block">
        <a href="/newsletter/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
        
        
          <i class="bi bi-newspaper"></i>  
        

        

        

        

        
        newsletter</a> | <time class="item-date" datetime="Jul 22, 2021">Jul 22, 2021</time></div>
      <div class="fs-6 text-body">Having launched The Toolbox this week, my thoughts go back to my childhood and how teaching myself how to ride a bike taught me everything I needed to know about learning things permanently.</div>
        

    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="/toolbox/2021-07-21-Managing-your-projects-with-GitHub-The-Toolbox-Ep-01/" class="d-block mb-1 text-decoration-none"  >
          <img class="item-title  w-100 img-fluid rounded" src="/images/toolbox/GithubTimeMachine_tn.jpg" alt="How Can Github Help me Manage my Development Projects? The Toolbox - Episode 01 image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="/toolbox/2021-07-21-Managing-your-projects-with-GitHub-The-Toolbox-Ep-01/" class="item-title h2 mb-0 d-block text-decoration-none" >How Can Github Help me Manage my Development Projects? The Toolbox - Episode 01</a>
      <div class="small d-block">
        <a href="/toolbox/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
        
        

        
          <i class="bi bi-tools"></i> 
        

        

        

        
        toolbox</a> | <time class="item-date" datetime="Jul 21, 2021">Jul 21, 2021</time></div>
      <div class="fs-6 text-body">In this episode...the official first episode of the Toolbox, we'll take a look at some great new tools, including my new favorite flowchart designer, a site that explains the shell and I'll introduce you to the tools inside Github that help with Project Management.</div>
        

    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="/newsletter/2021-07-15-The-Quizzical-Dream/" class="d-block mb-1 text-decoration-none"  >
          <img class="item-title  w-100 img-fluid rounded" src="/images/newsletter/quizzicaldream_tn.jpg" alt="The Quizzical Dream image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="/newsletter/2021-07-15-The-Quizzical-Dream/" class="item-title h2 mb-0 d-block text-decoration-none" >The Quizzical Dream</a>
      <div class="small d-block">
        <a href="/newsletter/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
        
        
          <i class="bi bi-newspaper"></i>  
        

        

        

        

        
        newsletter</a> | <time class="item-date" datetime="Jul 15, 2021">Jul 15, 2021</time></div>
      <div class="fs-6 text-body">In this episode, I talk about the joys of quizzing. Also, why I think it's an inffective tool for gauging developer performance and how I came up with the perfect quiz that you have to get 100% in order to pass. Plus, you can watch me struggle through a JS quiz.</div>
        

    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="/toolbox/2021-07-14-The-Toolbox-Ep-00-JavaScript-is-Definitely-Weird/" class="d-block mb-1 text-decoration-none"  >
          <img class="item-title  w-100 img-fluid rounded" src="/images/site/thetoolbox_tn.png" alt="Why JavaScript is Definitely Weird: The Toolbox - Episode 00 image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="/toolbox/2021-07-14-The-Toolbox-Ep-00-JavaScript-is-Definitely-Weird/" class="item-title h2 mb-0 d-block text-decoration-none" >Why JavaScript is Definitely Weird: The Toolbox - Episode 00</a>
      <div class="small d-block">
        <a href="/toolbox/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
        
        

        
          <i class="bi bi-tools"></i> 
        

        

        

        
        toolbox</a> | <time class="item-date" datetime="Jul 14, 2021">Jul 14, 2021</time></div>
      <div class="fs-6 text-body">In this...the unofficial Episode 0. I take a look at an article on why npm audit is broken, check out the AppSumo sale, a  query language for Wikipedia, important changes to Git and struggle through the JS is weird test.</div>
        

    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="/newsletter/2021-07-08-The-Unpredictable-Storm/" class="d-block mb-1 text-decoration-none"  >
          <img class="item-title  w-100 img-fluid rounded" src="/images/newsletter/unpredictablestorm_tn.jpg" alt="The Unpredictable Storm image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="/newsletter/2021-07-08-The-Unpredictable-Storm/" class="item-title h2 mb-0 d-block text-decoration-none" >The Unpredictable Storm</a>
      <div class="small d-block">
        <a href="/newsletter/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
        
        
          <i class="bi bi-newspaper"></i>  
        

        

        

        

        
        newsletter</a> | <time class="item-date" datetime="Jul 08, 2021">Jul 08, 2021</time></div>
      <div class="fs-6 text-body">Hurricane Elsa wasn't the strongest hurricane when it passed through my area, but sometimes the unexpected storms are the best reminders of how to prepare yourself for the future. In this issue, I take a look at how to prepare for the coming storms and two companies that are doing it right. Plus I talk about my next live stream...The Toolbox.</div>
        

    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="/newsletter/2021-07-01-The Auspicious Overlords/" class="d-block mb-1 text-decoration-none"  >
          <img class="item-title  w-100 img-fluid rounded" src="/images/newsletter/auspiciousoverlords_tn.jpg" alt="The Auspicious Overlords image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="/newsletter/2021-07-01-The Auspicious Overlords/" class="item-title h2 mb-0 d-block text-decoration-none" >The Auspicious Overlords</a>
      <div class="small d-block">
        <a href="/newsletter/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
        
        
          <i class="bi bi-newspaper"></i>  
        

        

        

        

        
        newsletter</a> | <time class="item-date" datetime="Jul 01, 2021">Jul 01, 2021</time></div>
      <div class="fs-6 text-body">Will the AI Overlords take your job away any time soon? I talk about the latest entry from Github that writes code by synthesizing billions of lines of code. Plus, you'll find out what my next two live streams are all about.</div>
        

    </div>
  </div>
    
    

  

  <div class="row justify-content-center px-3 px-sm-0 position-relative  my-5 ">

    
      <div class="col-md-3">
        <a href="/newsletter/2021-06-25-The Only Way/" class="d-block mb-1 text-decoration-none"  >
          <img class="item-title  w-100 img-fluid rounded" src="/images/posts/spacerules_tn.jpg" alt="The Space Rules image">
        </a>
      </div>
    

    <div class="col-md-9"> 
      <a href="/newsletter/2021-06-25-The Only Way/" class="item-title h2 mb-0 d-block text-decoration-none" >The Space Rules</a>
      <div class="small d-block">
        <a href="/newsletter/0" class="text-decoration-none fw-bold text-secondary">
        
        
        
        
        
          <i class="bi bi-newspaper"></i>  
        

        

        

        

        
        newsletter</a> | <time class="item-date" datetime="Jun 25, 2021">Jun 25, 2021</time></div>
      <div class="fs-6 text-body">This week, I might just settle that argument of wether spaces or tabs are best in development. I'll even tell you if I prefer single over double quotes. Somehow I end up talking about privacy and make a big announcement about my largest course ever.</div>
        

    </div>
  </div>
    </div>
  <div class="col-md-3">
    
    <div class="sidebar-merch">
    <div class="merchandise mt-4 position-relative text-center p-2 rounded">
  <div class="h4 mb-0 text-secondary">Oh Yeah</div>
  <div class="h6">Own that cool shirt!</div>
  <a class="stretched-link" href="https://cottonbureau.com/products/pow-shirt"><img class="img-fluid" src="/images/merch-shirt.png" alt="Planet of the Web Shirt" /></a>
  <p class="small mt-2 lh-sm family-sans">Get the one and only official <b>planetoftheweb</b> Apply shirt. The soft cotton and the beautiful POW ship will carry you away. Although it comes in other colors, you know you want the <code>#000</code> one.</p>
</div>
<hr>

    </div>
    <div class="sidebar-newsletter">
      <h6 class="text-secondary mt-3 px-3 px-sm-0">Apply Newsletter</h6>
      
      
    <style>
      #sidebar-newsletter .carousel-control-prev, #sidebar-newsletter .carousel-control-next {
        align-items: flex-start;
        top: 90px;
      }
    </style>

    <div id="sidebar-newsletter" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        
          
          <div class="carousel-item  active ">
            
            <img class="d-block w-100" src="/images/newsletter/unchangingessence_tn.jpg" alt="The Unchanging Essence photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Aug 05, 2021</time>
              <a href="/newsletter/2021-08-05-The_Professional_Developer/" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">The Unchanging Essence</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">This week, I talk about the best advice I gave to some students from Yale, realize I&#39;m not that different from who I was in high school, talk about my meeting with the old NAP crew, plus I realize the course I just finished two days ago, needs an update.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/newsletter/necessarychange_tn.jpg" alt="The Necessary Change photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Jul 29, 2021</time>
              <a href="/newsletter/2021-07-29-The-Necessary-Change/" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">The Necessary Change</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">My world has been changing and I&#39;ve working hard to keep up with it, so I show you how I learned from the mistakes of IBM...and Interstellar? You can&#39;t stop change, but when it comes you can be ready to do what&#39;s necessary.&quot;</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/newsletter/unforgettableride_tn.jpg" alt="The Unforgettable Ride photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Jul 22, 2021</time>
              <a href="/newsletter/2021-07-22-The-Unforgettable-Ride/" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">The Unforgettable Ride</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">Having launched The Toolbox this week, my thoughts go back to my childhood and how teaching myself how to ride a bike taught me everything I needed to know about learning things permanently.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/newsletter/quizzicaldream_tn.jpg" alt="The Quizzical Dream photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Jul 15, 2021</time>
              <a href="/newsletter/2021-07-15-The-Quizzical-Dream/" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">The Quizzical Dream</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">In this episode, I talk about the joys of quizzing. Also, why I think it&#39;s an inffective tool for gauging developer performance and how I came up with the perfect quiz that you have to get 100% in order to pass. Plus, you can watch me struggle through a JS quiz.</p>
            </div>
          </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#sidebar-newsletter"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#sidebar-newsletter"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

      <a href="/newsletter/0" class="d-lg-block text-secondary family-sans"><i class="fas fa-newspaper"></i> All Articles</a>
      <a href="https://www.linkedin.com/newsletters/apply-for-web-developers-6674822532509655040/" class="d-lg-block text-secondary family-sans"><i class="fab fa-linkedin"></i> Subscribe</a>
    </div>
    
    <div class="sidebar-courses">
      <h6 class="text-secondary mt-3 px-3 px-sm-0">Latest Courses</h6>
      
      
    <style>
      #sidebar-courses .carousel-control-prev, #sidebar-courses .carousel-control-next {
        align-items: flex-start;
        top: 90px;
      }
    </style>

    <div id="sidebar-courses" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        
          
          <div class="carousel-item  active ">
            
            <img class="d-block w-100" src="/images/courses/bootstrap5Esst_tn.jpg" alt="Bootstrap 5: Essential Training photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Jun 23, 2021</time>
              <a href="https://www.linkedin.com/learning/bootstrap-5-essential-training" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">Bootstrap 5: Essential Training</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">Bootstrap—a front-end framework using HTML, CSS, and JavaScript—is designed to help developers quickly and easily build responsive, mobile-ready websites that are cross-browser compatible.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/courses/react-interface2021_tn.jpg" alt="React: Building a Web Interface photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Apr 23, 2021</time>
              <a href="https://www.linkedin.com/learning/react-js-building-an-interface-8551484" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">React: Building a Web Interface</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">In this practical, hands-on course, I show you how to build a simple interface from scratch using hooks and TailwindCSS.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/courses/graphqlreact.jpg" alt="Building a GraphQL Project with React.js photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Mar 15, 2021</time>
              <a href="https://www.linkedin.com/learning/building-a-graphql-project-with-react-js" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">Building a GraphQL Project with React.js</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">GraphQL gives you a clean way to query complex server data efficiently, and React makes it easy to present that information as a web application in the browser.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/courses/tailwindcss.jpg" alt="Tailwind CSS: Essential Training photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Feb 12, 2021</time>
              <a href="https://www.linkedin.com/learning/tailwind-css-essential-training/divide" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">Tailwind CSS: Essential Training</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">The Tailwind CSS utility-first approach throws out many of the traditional CSS approaches to building projects, allowing you to create a complete and unique website without writing a single line of CSS.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/courses/vuejs3.jpg" alt="Vue.js 3: Essential Training photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Jan 22, 2021</time>
              <a href="https://www.linkedin.com/learning/vue-js-3-essential-training" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">Vue.js 3: Essential Training</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">Vue.js offers developers a framework for building applications that lets them choose how deeply they want to apply the framework.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/courses/developercareers.jpg" alt="Developer Career Paths and Certifications photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Dec 11, 2020</time>
              <a href="https://www.linkedin.com/learning/developer-career-paths-and-certifications-2" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">Developer Career Paths and Certifications</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">Technology has changed the way we approach ordinary tasks—from settling the bill at restaurants to driving—and more industries than ever are leveraging tech to work smarter. It&#39;s a great time to launch a career as a developer in this ever-changing field.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/courses/firstjob.jpg" alt="Getting Your First Job in Software Development photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Dec 10, 2020</time>
              <a href="https://www.linkedin.com/learning/getting-your-first-job-in-software-development/" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">Getting Your First Job in Software Development</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">Technology seems like a safe harbor in a stormy economy. Instructor, this course answers the most common questions people have about how to look for, find, and get your first job in software development, and helps you build a solid plan for career success.</p>
            </div>
          </div>
        
          
          <div class="carousel-item ">
            
            <img class="d-block w-100" src="/images/courses/vuevideochatfirebase.jpg" alt="Building a Video Chat App with Vue2 and Firebase photo">
            
            <div class="d-block">
              <time class="small d-none d-lg-block text-body" datetime="Invalid DateTime">Sep 25, 2020</time>
              <a href="https://www.linkedin.com/learning/building-a-video-chat-app-with-vue-js-and-firebase" 
              class="h4 text-decoration-none stretched-link"  style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">Building a Video Chat App with Vue2 and Firebase</a>
              <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;">With more people needing to stay connected virtually, video chat applications like Zoom and Microsoft Teams have exploded in popularity. Curious about how you might build a video chat application of your own?</p>
            </div>
          </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#sidebar-courses"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#sidebar-courses"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

      <a href="/courses/0" class="d-lg-block text-secondary family-sans"><i class="fab fa-linkedin"></i> All my courses</a>
    </div>
  </div>
</div>
</div>
</article>


    <footer class="site-footer bg-transparent pb-3 pb-md-5">
      <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
      <div class="text-center">
      <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </div>
    </footer>

  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>