---
layout: page.njk
hero: /images/site/graphic_newsletter.png
tags:
  - nav
iconclass: far fa-file-alt
pagination:
  data: collections.newsletter
  size: 10
navtitle: Newsletter
eleventyNavigation:
  key: newsletter
  parent: main
  order: 1
permalink: /newsletter/{{pagination.pageNumber}}/
---

{% include "pagination.njk" %}
<div class="row">
  <div class="col-md-9">
  {%- for item in pagination.items %}
    {% include "items.njk" %}
  {% endfor -%}
  {% include "pagination.njk" %}
  </div>
  <div class="col-md-3">
    {% from '../_includes/sidebar_carousel.njk' import carousel %}
    <div class="sidebar-videos">
      <h6 class="text-secondary mt-3 px-3 px-sm-0">Latest Videos</h6>
      {% set itemList = collections.videos | head(4) %}
      {{ carousel(itemList, id = 'sidebar-videos') }}
      <a href="/videos/0" class="d-lg-block text-secondary family-sans"><i class="fab fa-youtube"></i> All Videos</a>
    </div>
  </div>
</div>
