<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="The browser is the Swiss army knife of the Web, in this episode we talk about how we use the browsers as technologists, how to manage tabs, profiles and what extensions work best to turbo-charge your experience." />
    <meta property="og:title" content="Making the Most of your Browser" />
    <meta property="og:description" content="The browser is the Swiss army knife of the Web, in this episode we talk about how we use the browsers as technologists, how to manage tabs, profiles and what extensions work best to turbo-charge your experience." />
    <meta property="og:image" content="https://raybo.orghttps://i.ytimg.com/vi/MSltP3aFyCM/maxresdefault.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/videos/2020-05-14-Making-the-Most-of-your-Browser/">
    <meta name="twitter:title" content="Making the Most of your Browser">
    <meta name="twitter:description" content="The browser is the Swiss army knife of the Web, in this episode we talk about how we use the browsers as technologists, how to manage tabs, profiles and what extensions work best to turbo-charge your experience.">
    <meta name="twitter:image" content="https://raybo.orghttps://i.ytimg.com/vi/MSltP3aFyCM/maxresdefault.jpg">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative">
    <nav class="site-nav family-sans navbar navbar-expand-md navbar-dark  bg-dark sticky-top  py-0">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a> 
    </div>

    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link fw-bold  text-light" href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                  <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                  <i class="bi bi-github text-secondary me-1"></i> github
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                  <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                  <i class="bi bi-twitter text-secondary me-1"></i> twitter
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                  <i class="bi bi-image text-secondary me-1"></i> flickr
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                  <i class="bi bi-youtube text-secondary me-1"></i> youtube
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                  <i class="bi bi-instagram text-secondary me-1"></i> instagram
              </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
  <header id="page-hero" class="site-header ratio ratio-16x9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/MSltP3aFyCM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</header>



 
<article id="main-content" class="site-main container mt-3 mb-5"

>
<main class="article-content px-3 px-sm-0 container">

<h1>Making the Most of your Browser</h1>
<p class="lead">The browser is the Swiss army knife of the Web, in this episode we talk about how we use the browsers as technologists, how to manage tabs, profiles and what extensions work best to turbo-charge your experience.</p>

  <div class="row">
    <main class="article-content px-3 px-sm-0 main col-lg-9">
    
    </main>
    <aside class="aside aside-supplemental d-none d-lg-block col-lg-3 mt-3">
      <h4>Contents</h4>
      <nav class="sticky-top" style="top: 100px;">
      
      </nav>
    </aside>
  <div>
</main>
</article>

    <footer class="site-footer bg-transparent pb-3 pb-md-5">
      <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
      <div class="text-center">
      <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </div>
    </footer>

  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>