<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="Hurricane Elsa wasn't the strongest hurricane when it passed through my area, but sometimes the unexpected storms are the best reminders of how to prepare yourself for the future. In this issue, I take a look at how to prepare for the coming storms and two companies that are doing it right. Plus I talk about my next live stream...The Toolbox." />
    <meta property="og:title" content="The Unpredictable Storm" />
    <meta property="og:description" content="Hurricane Elsa wasn't the strongest hurricane when it passed through my area, but sometimes the unexpected storms are the best reminders of how to prepare yourself for the future. In this issue, I take a look at how to prepare for the coming storms and two companies that are doing it right. Plus I talk about my next live stream...The Toolbox." />
    <meta property="og:image" content="https://raybo.org/images/newsletter/unpredictablestorm.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/newsletter/2021-07-08-The-Unpredictable-Storm/">
    <meta name="twitter:title" content="The Unpredictable Storm">
    <meta name="twitter:description" content="Hurricane Elsa wasn't the strongest hurricane when it passed through my area, but sometimes the unexpected storms are the best reminders of how to prepare yourself for the future. In this issue, I take a look at how to prepare for the coming storms and two companies that are doing it right. Plus I talk about my next live stream...The Toolbox.">
    <meta name="twitter:image" content="https://raybo.org/images/newsletter/unpredictablestorm.png">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative bg-dark">
    <nav class="site-nav family-sans navbar navbar-expand-md bg-dark navbar-dark  fixed-top  py-0">
  <div class="container">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a> 
    </div>
    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link fw-bold  text-light" href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/toolbox/0/">toolbox</a>
            
            <a class="nav-item nav-link" href="/shorts/0/">shorts</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                  <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                  <i class="bi bi-github text-secondary me-1"></i> github
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                  <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                  <i class="bi bi-twitter text-secondary me-1"></i> twitter
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                  <i class="bi bi-image text-secondary me-1"></i> flickr
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                  <i class="bi bi-youtube text-secondary me-1"></i> youtube
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                  <i class="bi bi-instagram text-secondary me-1"></i> instagram
              </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
  <header id="page-hero" class="site-header position-relative container  site-header" style="border-radius: 20px !important; margin-top: 60px; min-height: 60vh">
<section class="layout-hero position-absolute d-flex align-items-center" style="background-image: linear-gradient(rgba(126, 59, 151, .6) 50px, transparent), url(/images/newsletter/unpredictablestorm.png); height: 100%; width: 100%; transform: scale(1.1);" ></section>
<div class="layout-hero-content position-absolute d-flex w-100" style="bottom: 0;">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h2 class="page-section-title text-light">The Unpredictable Storm</h2>
        <p class="page-section-text text-light d-none d-md-block">
          Hurricane Elsa wasn't the strongest hurricane when it passed through my area, but sometimes the unexpected storms are the best reminders of how to prepare yourself for the future. In this issue, I take a look at how to prepare for the coming storms and two companies that are doing it right. Plus I talk about my next live stream...The Toolbox.
        </p>
      </div>
    </div>
  </div>
</div>
</header> 



 
<article id="main-content" class="site-main container mt-3 mb-5"

>
<main class="article-content px-3 px-sm-0 container">

  <div class="row">
    <main class="article-content px-3 px-sm-0 main col-lg-9">
    <p>It's hurricane season here in Florida and hurricane Elsa just passed through our house. Every year, the state prepares a detailed <a href="https://www.stateofflorida.com/articles/hurricane-preparedness-guide/">hurricane preparedness guide</a>, but like in life, it's not until you've been through a storm that you know how to really prepare for one. Preparing for storms has a lot of parallels to what you should be doing to prepare for the future.</p>
<div class="article-side-image">
<p><img src="/images/newsletter/floinhurr.jpg" alt="Floridians in Hurricanes"></p>
</div>
<h2 id="the-benefits-of-a-false-alarm">The Benefits of a False Alarm <a class="direct-link" href="#the-benefits-of-a-false-alarm"> </a></h2>
<p>There's a couple of benefits from having a hurricane pass by. Elsa is the fifth named storm of the season, but I couldn't tell you what the others four where. Storms like this can highlight the weaknesses in your plans and help prepare you for future danger.</p>
<p>I bought water, filled the tank on my RV, made sure I had a full tank of Propane for cooking afterwards, got 15 gallons of gas for the generator and so on and so forth. Like our old boss used to say...this wasn't my first rodeo.</p>
<p>The best time to plan is before the storm comes, but it's easy to put things off until it's too late. I didn't get gas for the generator one year and I had to drive around for more than three hours trying to find a station with gas.</p>
<h2 id="build-up-slowly">Build up slowly <a class="direct-link" href="#build-up-slowly"> </a></h2>
<p>Living in Florida like I do, I've realized that you're going to go through a lot of these, so instead of trying to get everything at once, you can build up your resources slowly. By now, I've been through several Cat 4 hurricanes.</p>
<div class="article-side-image">
<p><img src="/images/newsletter/catzones.jpg" alt="Floridians in Hurricanes"></p>
</div>
<p>I ran out of power a few times, so after one of the storms I got a generator. During another storm, I picked up a chainsaw and even bagged a room air conditioner the year we got three hurricanes in our area. Trust me, Florida is not fun without AC. Over the years, you build up a war chest of resources. Pick up an extra gas can on you next storm, extra water storage, and batteries for flashlights. You don't have to do it all at once.</p>
<h2 id="creator-preparedness">Creator Preparedness <a class="direct-link" href="#creator-preparedness"> </a></h2>
<p>I've been thinking a lot about building an audience, learning about producing live video and streaming. I think that people expect this component in modern learning and it's not something I was used to.</p>
<p>A few years ago a some of us were trying to convince another group that we should invest in some type of remote recording. That we should be make sure instructors were comfortable adding video recording from home to their courses. It didn't seem like a reasonable idea to this second group...until the pandemic. Then it became a huge priority since nobody could physically record live action by traveling to California anymore.</p>
<h2 id="my-creator-journey">My Creator Journey <a class="direct-link" href="#my-creator-journey"> </a></h2>
<p>I ended up learning a lot about audio, video recording, live streaming and started focusing on building an audience. Just like with hurricanes, I couldn't afford to do it all at once. So I did it slowly, investing in lights, some cameras and microphones when I could afford. I started to teach myself how to stream.</p>
<p>And then of course, like clockwork, LinkedIn launched <a href="https://www.linkedin.com/pulse/introducing-creator-mode-your-linkedin-profile-margaret-rose-taormina/">Creator Mode</a>, which places an emphasis on users being more active by posting streams, videos, newsletters and polls through their profiles. So now, the type of stuff that we do, prepare videos for public consumption is now available to anyone within LinkedIn.</p>
<h2 id="github-is-prepping">GitHub Is Prepping <a class="direct-link" href="#github-is-prepping"> </a></h2>
<p>You can see some of what Microsoft wanted to do with GitHub finally paying off. They recently released <a href="https://copilot.github.com/">Copilot</a>, an AI tool that is going to change the way you code. I was lucky enough to get early access to it and did a short video on it.</p>
<p><lite-youtube videoid="hiI-CTcXZZs"></lite-youtube></p>
<p>But that's not all they've been up to, GitHub has been rapidly releasing betas of a whole bunch of improvements at a surprising pace. They just invested in an improved <a href="https://github.com/features/issues">GitHub Issues</a> tool for project planning that's focused around developers.</p>
<p><lite-youtube videoid="64xO030aneI"></lite-youtube></p>
<p>There are lots of other smaller improvements like <a href="https://github.blog/2021-05-13-video-uploads-available-github/">adding videos to your repos</a>, a <a href="https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/">YAML based language</a> for creating forms for issue templates, <a href="https://github.blog/2021-02-17-introducing-github-campus-tv/">Github Campus TV</a> and more.</p>
<p>That's one company getting ready for the storms, but it's not alone.</p>
<h2 id="the-eye-of-the-storm">The Eye of the Storm <a class="direct-link" href="#the-eye-of-the-storm"> </a></h2>
<p>Another company you should keep an eye on is <a href="https://www.prosus.com/">Prosus</a>. Never heard of them? They just bought <a href="https://stackoverflow.com/">Stack Overflow</a>. I was thinking about how Stack Overflow would be a great company for Microsoft to buy until Prosus came along. It's got a fantastic (and fanatic) developer user base.</p>
<p>Besides <strong>who the heck is Prosus?</strong> you may be wondering what would they want to do with a company that offers a free bulletin board service to answer questions from developers until you read down in their press release that they have stakes in companies like Udemy, Codecademy and others. Keep an eye out for them. We may be getting some competition.</p>
<h2 id="the-toolbox">The Toolbox <a class="direct-link" href="#the-toolbox"> </a></h2>
<p>I recently did a poll to see what people wanted me to do in my next streaming venture. I had three ideas which were: LinkedIn Profile for Devs, a more generic Creator Tips and finally a stream about Developer Tooling.</p>
<p><img src="http://pixelprowess.com/i/2021-07-08_17-45-34.png" alt="Streaming Poll"></p>
<p>Although Profile tips was the clear winner, I was surprised at how well developer tooling did. I've had an idea for that for a while and I like to find music and visuals that get stream watchers (as well as the host) start the show in a great mood. Plus part of me enjoys branding, so I've been working on the graphics for that show first. I worked a lot on my studio this weekend, specially with lighting, so here's that test stream.</p>
<iframe src="https://www.linkedin.com/video/embed/live/urn:li:ugcPost:6818926262208278528" height="284" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
<p>I know the audio isn't quite syncing with the video and I plan to solve that next. Don't worry, I still plan to do the Profile Tips and who knows even the Creator Tips. I might be able to handle a weekly show where I rotate topics. That way I can still do things like <strong>The Launch</strong> and <strong>Apply</strong>.</p>
<p>So, what's your great next move and how are you planning for it? I'd love to know. In the meantime...see you next week.</p>

    </main>
    <aside class="aside aside-supplemental d-none d-lg-block col-lg-3 mt-3">
      <h4>Contents</h4>
      <nav class="sticky-top" style="top: 100px;">
      <div class="">
                <ol>
                    
                    <li><a href="#the-benefits-of-a-false-alarm">The Benefits of a False Alarm</a>
            		</li>

                    <li><a href="#build-up-slowly">Build up slowly</a>
            		</li>

                    <li><a href="#creator-preparedness">Creator Preparedness</a>
            		</li>

                    <li><a href="#my-creator-journey">My Creator Journey</a>
            		</li>

                    <li><a href="#github-is-prepping">GitHub Is Prepping</a>
            		</li>

                    <li><a href="#the-eye-of-the-storm">The Eye of the Storm</a>
            		</li>

                    <li><a href="#the-toolbox">The Toolbox</a>
            		</li>
                </ol>
            </div>
      </nav>
    </aside>
  <div>
</main>
</article>

  <footer class="site-footer bg-transparent pb-3 pb-md-5">
    <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
    <div class="text-center">
    <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
  </footer>
  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>