---
layout: page.njk
hero: /images/site/graphic_posts.png
tags:
  - nav
iconclass: far fa-file-alt
pagination:
  data: collections.posts
  size: 10
navtitle: Posts
eleventyNavigation:
  key: posts
  parent: main
  order: 1
permalink: /posts/{{pagination.pageNumber}}/
---

{% include "pagination.njk" %}
  <div class="row">
    <div class="col">
    {%- for item in pagination.items %}
      {% include "items.njk" %}
    {% endfor -%}
    {% include "pagination.njk" %}
    </div>
    <div class="col-md-3">
      {% from '../_includes/sidebar_carousel.njk' import carousel %}

      <div class="sidebar-merch">
      {% include "sidebar_merch.njk" %}
      </div>
      <div class="sidebar-videos">
        <h6 class="text-secondary mt-3 px-3 px-sm-0">Latest Videos</h6>
        {% set itemList = collections.videos | head(4) %}
        {{ carousel(itemList, id = 'sidebar-videos') }}
        <a href="/videos/0" class="d-lg-block text-secondary family-sans"><i class="fab fa-youtube"></i> All Videos</a>
      </div>

      <div class="sidebar-newsletter">
        <h6 class="text-secondary mt-3 px-3 px-sm-0">Apply Newsletter</h6>
        {% set itemList = collections.newsletter | head(4) %}
        {{ carousel(itemList, id = 'sidebar-newsletter') }}
        <a href="/newsletter/0" class="d-lg-block text-secondary family-sans"><i class="fas fa-newspaper"></i> All Articles</a>
        <a href="https://www.linkedin.com/newsletters/apply-for-web-developers-6674822532509655040/" class="d-lg-block text-secondary family-sans"><i class="fab fa-linkedin"></i> Subscribe</a>
      </div>

    </div>
  </div>

