<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="I decide to take a break and go somewhere in my RV with the worst possible internet connection. Plus, how to be a tech teacher, YouTube makes moves, the gig economy and the end of coding as we know it." />
    <meta property="og:title" content="The Road Again" />
    <meta property="og:description" content="I decide to take a break and go somewhere in my RV with the worst possible internet connection. Plus, how to be a tech teacher, YouTube makes moves, the gig economy and the end of coding as we know it." />
    <meta property="og:image" content="https://raybo.org/images/newsletter/theroadagain.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/newsletter/2021-11-12-the-road-again/">
    <meta name="twitter:title" content="The Road Again">
    <meta name="twitter:description" content="I decide to take a break and go somewhere in my RV with the worst possible internet connection. Plus, how to be a tech teacher, YouTube makes moves, the gig economy and the end of coding as we know it.">
    <meta name="twitter:image" content="https://raybo.org/images/newsletter/theroadagain.png">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative bg-dark">
    <nav class="site-nav family-sans navbar navbar-expand-md bg-dark navbar-dark  fixed-top  py-0">
  <div class="container">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a> 
    </div>
    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link fw-bold  text-light" href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/toolbox/0/">toolbox</a>
            
            <a class="nav-item nav-link" href="/shorts/0/">shorts</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                  <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                  <i class="bi bi-github text-secondary me-1"></i> github
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                  <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                  <i class="bi bi-twitter text-secondary me-1"></i> twitter
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                  <i class="bi bi-image text-secondary me-1"></i> flickr
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                  <i class="bi bi-youtube text-secondary me-1"></i> youtube
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                  <i class="bi bi-instagram text-secondary me-1"></i> instagram
              </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
  <header id="page-hero" class="site-header position-relative container  site-header" style="border-radius: 20px !important; margin-top: 60px; min-height: 50vh">
<section class="layout-hero position-absolute d-flex align-items-center" style="background-image: linear-gradient(rgba(126, 59, 151, .6) 50px, transparent), url(/images/newsletter/theroadagain.png); height: 100%; width: 100%; transform: scale(1.1);" ></section>
<div class="layout-hero-content position-absolute d-flex w-100" style="bottom: 0;">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h2 class="page-section-title text-light">The Road Again</h2>
        <p class="page-section-text text-light d-none d-md-block">
          I decide to take a break and go somewhere in my RV with the worst possible internet connection. Plus, how to be a tech teacher, YouTube makes moves, the gig economy and the end of coding as we know it.
        </p>
      </div>
    </div>
  </div>
</div>
</header> 



 
<article id="main-content" class="site-main container mt-3 mb-5"

>
<main class="article-content px-3 px-sm-0 container">

  <div class="row">
    <main class="article-content px-3 px-sm-0 main col-lg-9">
    <p>A few years ago I picked up a used RV in great condition. My wife loves hiking, and I love my wife, but I hate bugs…or being outside…or bad connections. We found a compromise…an RV lets you go glamping with AC/Heater a full kitchen. Now that's what I call 'roughing it'.</p>
<p>So far, the internet connection on these trips have gone from bad to worse at every campground we've been at. Last week, we went to Mistletoe State park. Let me tell you, the best connection was either standing next to the dumpster or by the public bathrooms. I thought about bringing a little table to either, but thankfully, better judgment prevailed.</p>
<div class="article-side-image">
<p><img src="/images/newsletter/mojo-sleep.jpg" alt="Mojo"></p>
</div>
<p>I abandoned all connected hope but had a great time with the family. In all honesty, it was so cold that I stayed mostly indoors, so me and Mojo, the coding dog, hung around in bed and I managed to get a couple of games of KOTOR (Knights of the Old Republic) going, so it wasn't so rough.</p>
<p>After the trip, I told my wife that my world did indeed not come to an end, plus I had a reasonable time, so that maybe we can try disconnecting once a quarter. I promised not to fuzz about the internet connection anymore. We'll see how that goes. I feel like it's a good idea to try to avoid burnout (<a href="https://www.linkedin.com/posts/planetoftheweb_technology-webdeveloper-webdesign-activity-6863556621222637568-aYqm">check out this post</a>)</p>
<h2 id="looking-for-tech-teachers">Looking for Tech Teachers <a class="direct-link" href="#looking-for-tech-teachers"> </a></h2>
<p>By the way, my ex-boss and friend asked me to tell you that we're always looking for great new technology teachers. If you want to make some extra cash and love programming/helping others. It's a fantastic gig.</p>
<div class="article-side-image">
<p><img src="/images/newsletter/learning.png" alt="Mojo"></p>
</div>
<p>The team here is amazing and treat you like royalty (at least what I imagine royalty gets treated like). They assign you a producer, who helps you through the whole process with all the scary things and there's a whole amazing team of content managers, course testers, video and audio experts.</p>
<p>They help you focus on just the teaching part and I' always amazed at how much better I look and sound because of them. If you're good with the technology, they take care of the rest.</p>
<p>If you're interested in that type of thing, just <a href="https://www.linkedin.com/in/planetoftheweb/">DM me on LinkedIn</a> and I'll point you to the right person.</p>
<h2 id="more-posts">More Posts <a class="direct-link" href="#more-posts"> </a></h2>
<p>Lately, I've been posting more about current events, and they're getting a lot of traction. I don't like controversial topics or hot takes. I'm the type of person that tries to consider all sides of an issue and like to hear what others (more opinionated than I) say. I think it's healthy to hear good arguments.</p>
<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6864617430086361090" height="749" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
<p>Case in point. Recently YouTube decided to remove their dislike button from public view. It's still there, but the results will be private. You can see the comments in the article. So far, I feel like we lose something when all we hear is the positive likes. It feels like giving my kids only candy to eat. At any rate, since the dislikes and nasty comments are still there, I don't think this helps anyone mental health.</p>
<p>It feels more like a move to placate corporate interests, who would suffer from the negative Public Relations and can possibly put pressure on YouTube/Google for this this type of change. I expect some sort of backlash but it won't matter YouTube can do what they want.</p>
<p>Honestly, it was probably a bad idea to put that there in the first place. Tell me what you think.</p>
<h2 id="youtube-as-a-shopping-network">YouTube as a Shopping Network <a class="direct-link" href="#youtube-as-a-shopping-network"> </a></h2>
<p>Another interesting bit of news from YouTube was the fact that they are planning on incorporating shopping more tighly into their platform.</p>
<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6863945040201359361" height="552" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
<p>They hope to have this ready for Christmas, but whatever the do, it better be quick with all the shipping and supply side problem we're having here on the US. That's going to be huge for creators. I already buy tons of stuff after watching YouTube videos, so if they figure out the right way to monetize this, they'll be rolling in cash.</p>
<h2 id="meta's-virtual-world">Meta's Virtual World <a class="direct-link" href="#meta's-virtual-world"> </a></h2>
<p><img src="/images/newsletter/jedi-council.png" alt="Jedi Council"></p>
<p>Of course you heard <a href="https://www.linkedin.com/posts/planetoftheweb_facialrecognition-metafacebook-facebook-activity-6861443774439055360-9jWZ">Facebook's announcement on Meta</a>. I'm wondering what you think. Me, I feel like this has been done before with Second Life, but the AR possibilities are interesting.</p>
<p>I think the real hook might be to create virtual work environments on the fly that allow you to attend meetings with others a-la-Jedi-Council, use an infinite amount of virtual monitors that take up no space (in my RV once the connection things are fixed). People might truly be able to work from anywhere.</p>
<h2 id="other-posts">Other Posts <a class="direct-link" href="#other-posts"> </a></h2>
<p>A couple of other things I posted about you might have missed. Microsoft announced an update to excel with <a href="https://www.linkedin.com/posts/planetoftheweb_microsoft-brings-javascript-to-excel-activity-6863688367545102336-7iCT">additional javscript API features</a>,  Edge is now <a href="https://www.linkedin.com/posts/planetoftheweb_microsofts-edge-browser-is-now-available-activity-6861740011126079489-rGL0">available in Linux</a>…I'm hoping it fits in a raspberry pi. That would be epic. Also, I did a post on whether developers would go back if their office was a <a href="https://www.linkedin.com/posts/planetoftheweb_webdeveloper-webdesigner-homeoffice-activity-6861731271077351424-BBqZ">Trophy Office</a>.</p>
<h2 id="the-gig-economy">The Gig Economy <a class="direct-link" href="#the-gig-economy"> </a></h2>
<p>Plugging along, my friend and fellow author Garrick Chow created a short video with his experience breaking into the Gig economy as a DoorDash/Uber Eats.</p>
<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:6864225477951942656" height="654" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
<p>He's doing it as an experiment and documenting it online in a <a href="https://www.linkedin.com/company/staffinstructors/">new page</a> that the creative team is putting together, so check it out and follow it.  Who knows, I might do a cameo in there if the topic works for something I'm doing.</p>
<h1 id="the-toolbox">The Toolbox <a class="direct-link" href="#the-toolbox"> </a></h1>
<iframe class="ratio ratio-16x9" src="https://www.linkedin.com/video/embed/live/urn:li:ugcPost:6863638563100123136" height="600" width="900" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
<p>I'm back on my regular schedule with The Toolbox. This week, I talk about a new framework from the makers of Shopify called <a href="https://shopify.dev/custom-storefronts/hydrogen">Hydrogen</a>. If were to throw almost every library and framework I'm excited about using, that's what they've done with Hydrogen. Super exciting Stuff.</p>
<p>I also briefly talk about <a href="https://www.microsoft.com/en-us/microsoft-loop">Microsoft's Loop</a>, the upcoming App that's is very similar to <a href="https://www.notion.so/">Notion</a>. Notion is what I used to use before I made the switch to Obsidian. It's sort of like Teams, but instead of a having a communications focus, it's more about productivity and document sharing, which honestly is a bit weaker in Teams.</p>
<p>Finally, the most important thing I cover in this episode is what I'm calling &quot;The End of Coding as we know it&quot;. I just finished doing a course on Publishing with Github and I realized that I didn't need to use my desktop version of VSCode at all. That was real surprising. I think this is going to be a paradigm shift in the industry. It removes so much friction for developers that in the future no one will want to code any other way.</p>
<p>I'm trying to get on a more regular schedule. You can <a href="https://www.linkedin.com/video/event/urn:li:ugcPost:6864473777623875584/">sign up for a reminder of Episode 12</a>. I've got lots of ideas of what to cover, but I want to keep the topics a bit under wraps for now. If you have any thoughts, let me know.</p>

    </main>
    <aside class="aside aside-supplemental d-none d-lg-block col-lg-3 mt-3">
      <h4>Contents</h4>
      <nav class="sticky-top" style="top: 100px;">
      <div class="">
                <ol>
                    
                    <li><a href="#looking-for-tech-teachers">Looking for Tech Teachers</a>
            		</li>

                    <li><a href="#more-posts">More Posts</a>
            		</li>

                    <li><a href="#youtube-as-a-shopping-network">YouTube as a Shopping Network</a>
            		</li>

                    <li><a href="#meta's-virtual-world">Meta's Virtual World</a>
            		</li>

                    <li><a href="#other-posts">Other Posts</a>
            		</li>

                    <li><a href="#the-gig-economy">The Gig Economy</a>
            		</li>
                </ol>
            </div>
      </nav>
    </aside>
  <div>
</main>
</article>

  <footer class="site-footer bg-transparent pb-3 pb-md-5">
    <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
    <div class="text-center">
    <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
  </footer>
  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>