<header id="page-hero" class="site-header position-relative container {% if not hero %}mt-5{% endif %} site-header" style="border-radius: 20px !important; margin-top: 60px; {% if hero %}min-height: 60vh{% endif %}">
<section class="layout-hero position-absolute d-flex align-items-center" style="background-image: linear-gradient(rgba(126, 59, 151, .6) 50px, transparent), url({{ hero }}); height: 100%; width: 100%; transform: scale(1.1);" ></section>
<div class="layout-hero-content position-absolute d-flex w-100" style="bottom: 0;">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h2 class="page-section-title text-light">{{title}}</h2>
        <p class="page-section-text text-light d-none d-md-block">
          {{summary | safe}}
        </p>
      </div>
    </div>
  </div>
</div>
</header> 
