<header id="layout-carousel" 
  class="carousel d-none rounded d-sm-flex justify-content-center align-items-center {% if carousel.slide !== false %}slide{%endif%}
    {% if carousel.fade %}carousel-fade{% endif %}"
    {% if carousel.interval %}data-bs-interval="{{carousel.interval}}"{% endif %}
    {% if carousel.wrap == false %}data-bs-wrap="false"{% endif %} 
    {% if carousel.ride !== false %}data-bs-ride="carousel"{% endif %}
    {% if carousel.pause == false %}data-bs-pause="false"{% endif %}
  >

  {% if carousel.indicators !== false %}
  <div class="carousel-indicators"></div>
  {% endif %}
 
  <div class="carousel-inner" style="border-radius:20px !important;">

    {% for item in carouselPosts %}
    <div class="carousel-item {% if loop.first %}active{% endif%}" 
      >
      <a href="{{item.url}}">
        <img class="d-block w-100" src="{{ item.data.hero }}" alt="{{ item.data.title }} photo"
          style="max-height: {{(headerHeight) if headerHeight else '60vh'}}; overflow:hidden">
        <div class="carousel-caption">
          <div class="container">
          {% if item.data.title %}<h4 class="d-none d-lg-block text-white">{{item.data.title}}</h4>{% endif %}
          {% if item.data.summary %}<p class="d-none d-xl-block" style="font-size: .9em">{{item.data.summary}}</p>{% endif %}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  {% if carousel.controls !== false %}
  <div class="carousel-buttons"></div>
  {% endif %}
</header>