  <div class="col">
    <div class="card">
      <lite-youtube videoid="{{ item.data.video }}" style="background-image: url('{{item.data.thumb}}'); width:400px;">
        <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">{{ item.data.title }}</span></button>
      </lite-youtube>
      <div class="card-body">
        <a href="https://www.youtube.com/watch?v={{ item.data.video }}" class="family-sans card-title fs-5 fw-bold lh-1 text-decoration-none">{{ item.data.title | safe }}</a>
        <div class="card-text fs-6">{{ item.data.summary | safe }}</div>
      </div>
    </div> 
  </div>
