<nav class="site-nav family-sans navbar navbar-expand-md navbar-dark {% if sidebar %} sidebar sticky-top {% elif video %} bg-dark sticky-top {% else %} fixed-top {% endif %} py-0">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="{{ '/' | url }}"><i class="icon icon-pow"></i>{{ metadata.title }}</a> {% if navtitle %} <span class="d-none d-lg-inline">|</span> <span class="small text-light text-uppercase d-none d-lg-inline align-text-middle">{{ navtitle }}</span>{% endif %}
    </div>

    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        {# These next two links are hidden are allow scrollspy to detect the current page #}
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        {% if navtitle != 'Home' %}<a class="nav-item nav-link {% if navtitle==null %}fw-bold  text-light{% endif %}" href="/"><i class="bi bi-house-door-fill"></i></a>{% endif %}
        {% set mainNav = collections.all | eleventyNavigation("main") %}
          {%- for nav in mainNav | reverse -%}
            {% if nav.url == page.url %}
            <a class="nav-item nav-link disabled fw-bold text-light" href="{{ nav.url | url }}">{{ nav.title }}</a>
            {% else %}
            <a class="nav-item nav-link" href="{{ nav.url | url }}">{{ nav.title }}</a>
            {% endif %}
          {%- endfor -%}
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li>
              {%- for socialNav in metadata.author.social -%}
                <li>
                  <a class="dropdown-item text-capitalize" href="{{socialNav.url}}">
                  <i class="{{socialNav.iconClass}} text-secondary me-1"></i> {{socialNav.name}}
              </a>
                </li>
              {%- endfor -%}
          </ul>
          </div>
        </div>
      </div>
      {% include "search.njk" %}
    </div>
  </div>
</nav>
