<nav class="my-3" aria-label="Page navigation">
  <div class="pagination pagination-sm justify-content-center">
      {% if pagination.href.previous %}
      <div class="page-item">
        <a class="page-link" href="{{pagination.href.previous | url}}"><i class="bi bi-arrow-left"></i></a>
      </div>
      {% else %}
      <div class="page-item disabled">
        <span class="page-link disabled" href="{{pagination.href.previous | url}}"><i class="bi bi-arrow-left"></i></span>
      </div>
      {% endif %}

      {% for link in pagination.pages %}
        <div class="page-item {% if (pagination.pageNumber) == loop.index0 %}active{% endif %}"><a class="page-link" href="{{ pagination.hrefs[ loop.index0 ] }}">{{loop.index}}</a></div>
      {% endfor %}


      {% if pagination.href.next %}
      <div class="page-item">
        <a class="page-link" href="{{pagination.href.next | url}}"><i class="bi bi-arrow-right"></i></a>
      </div>
      {% else %}
      <div class="page-item disabled">
        <a class="page-link" href="{{pagination.href.next | url}}"><i class="bi bi-arrow-right"></i></a>
      </div>
      {% endif %}
  </div>
</nav>
