<div class="merchandise mt-4 position-relative text-center p-2 rounded">
  <div class="h4 mb-0 text-secondary">Oh Yeah</div>
  <div class="h6">Own that cool shirt!</div>
  <a class="stretched-link" href="https://cottonbureau.com/products/pow-shirt"><img class="img-fluid" src="/images/merch-shirt.png" alt="Planet of the Web Shirt" /></a>
  <p class="small mt-2 lh-sm family-sans">Get the one and only official <b>planetoftheweb</b> Apply shirt. The soft cotton and the beautiful POW ship will carry you away. Although it comes in other colors, you know you want the <code>#000</code> one.</p>
</div>
<hr>
