<div class="container d-flex justify-content-center">
  {%- for socialNav in metadata.author.social -%}
    <div>
      <a class="text-decoration-none family-sans ms-3" href="{{socialNav.url}}">
      <i class="{{socialNav.iconClass}} text-secondary me-1"></i>{{socialNav.name}}
      </a>
    </div>
  {%- endfor -%}
</div>