---
layout: base.njk
carousel:
  fade: true
eleventyNavigation:
  key: main
---

{% set videoslist = collections.videos | head(20) %}
{% set carouselPosts = collections.posts | head(5) %}

<header id="page-hero" class="container bg-secondary p-0"  style="margin-top:55px; background: transparent !important;">
  {% set carouselPosts = collections.home | head(5) %}
  {% include "header-carousel-posts.njk" %}
</header>

<style>
.video-list::-webkit-scrollbar {
    display: none;
}
.video-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
</style>

<div id="main-content">
  {% set postslist = collections.home | head(10) %}
<article class="page-home site-main container"
{% if carouselPosts==null and hero==null%}style="padding-top: 60px"{%endif%}
>
<div class="row">
  <div class="col">
    <h6 class="family-sans text-secondary mt-3 mb-2 px-3 px-sm-0">Latest Posts</h6>
    {%- for item in postslist %}
    {% include "items.njk" %}
    {% endfor -%}
  </div>
  <div class="col-md-3">
    {% from './_includes/sidebar_carousel.njk' import carousel %}
    <div class="sidebar-merch">
    {% include "sidebar_merch.njk" %}
    </div>
    <div class="sidebar-newsletter">
      <h6 class="text-secondary mt-3 px-3 px-sm-0">Apply Newsletter</h6>
      {% set itemList = collections.newsletter | head(4) %}
      {{ carousel(itemList, id = 'sidebar-newsletter') }}
      <a href="/newsletter/0" class="d-lg-block text-secondary family-sans"><i class="fas fa-newspaper"></i> All Articles</a>
      <a href="https://www.linkedin.com/newsletters/apply-for-web-developers-6674822532509655040/"
        class="d-lg-block text-secondary family-sans"><i class="fab fa-linkedin"></i> Subscribe</a>
    </div>
    
    <div class="sidebar-courses">
      <h6 class="text-secondary mt-3 px-3 px-sm-0">Latest Courses</h6>
      {% set itemList = collections.courses | head(8) %}
      {{ carousel(itemList, id = 'sidebar-courses') }}
      <a href="/courses/0" class="d-lg-block text-secondary family-sans">
        <i class="fab fa-linkedin"></i> All my courses</a>
    </div>
  </div>
</div>
</div>
</article>