<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="I got sick last week and couldn't record videos. So in this edition, I talk about the power of leveraging one activity to get multiple pieces of content, plus, how that can be a struggle when managing your life." />
    <meta property="og:title" content="The Perils of Multi-tasking" />
    <meta property="og:description" content="I got sick last week and couldn't record videos. So in this edition, I talk about the power of leveraging one activity to get multiple pieces of content, plus, how that can be a struggle when managing your life." />
    <meta property="og:image" content="https://raybo.org/images/posts/multitasking.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/newsletter/2021-03-31-the-perils-of-multitasking/">
    <meta name="twitter:title" content="The Perils of Multi-tasking">
    <meta name="twitter:description" content="I got sick last week and couldn't record videos. So in this edition, I talk about the power of leveraging one activity to get multiple pieces of content, plus, how that can be a struggle when managing your life.">
    <meta name="twitter:image" content="https://raybo.org/images/posts/multitasking.png">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative">
    <nav class="site-nav family-sans navbar navbar-expand-md navbar-dark  fixed-top  py-0">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a> 
    </div>

    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link fw-bold  text-light" href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                  <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                  <i class="bi bi-github text-secondary me-1"></i> github
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                  <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                  <i class="bi bi-twitter text-secondary me-1"></i> twitter
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                  <i class="bi bi-image text-secondary me-1"></i> flickr
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                  <i class="bi bi-youtube text-secondary me-1"></i> youtube
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                  <i class="bi bi-instagram text-secondary me-1"></i> instagram
              </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
  <header id="page-hero" class="site-header position-relative 100vw  site-header" style="min-height: 40vh;">
<section class="layout-hero position-absolute d-flex align-items-center" style="background-image: linear-gradient(rgba(126, 59, 151, .6) 50px, transparent), url(/images/posts/multitasking.png); height: 100%; width: 100%;  filter: blur(20px);  transform: scale(1.1);" ></section>
<div class="layout-hero-content position-absolute d-flex align-items-center w-100 h-100">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h2 class="page-section-title text-light">The Perils of Multi-tasking</h2>
        <p class="page-section-text text-light d-none d-md-block">
          I got sick last week and couldn't record videos. So in this edition, I talk about the power of leveraging one activity to get multiple pieces of content, plus, how that can be a struggle when managing your life.
        </p>
      </div>
    </div>
  </div>
</div>
</header> 



 
<article id="main-content" class="site-main container mt-3 mb-5"

>
<main class="article-content px-3 px-sm-0 container">

  <div class="row">
      <main class="article-content px-3 px-sm-0 main col-9">
      <p>One of the by-products of learning a second language (English for me) is that you learn everything by context. But sometimes the context doesn't make sense. In English people tend to tell you that they don't mean to do something right before they're about to do that very thing.</p>
<blockquote>
<p>I don't mean to sound like an X, but here's a great example of me being an X.</p>
</blockquote>
<p>Or my other favorite. The use of the world literally when people mean figuratively.</p>
<blockquote>
<p>My heart was literally pumping out of my chest!</p>
</blockquote>
<p>But I admit, my heart was figuratively pumping out of my chest doesn't sound that cool. Sometimes I fall into this trap, specially when giving advice. Just the other week, I was talking to some friends about my social media plan, and they mentioned that they didn't know how I had the time.</p>
<p>The truth is, I don't. Everyone has the same amount of time and when we take on something, we have to give up something else. But it's important to recognize when it's a good time to adjust to the world. Remaining stagnant can leave you behind.</p>
<h2 id="here's-some-tips-on-multitasking%3A">Here's some tips on multitasking: <a class="direct-link" href="#here's-some-tips-on-multitasking%3A"> </a></h2>
<ol>
<li><strong>Start small</strong>. I wrote this a while back, but you need to start small and make sure that things are working well before you move on.</li>
<li><strong>Discover Efficiencies</strong>. Before you tackle something else, look for ways that open up time by being more efficient. I don't like to learn new things if they're not going to save me time (examples below).</li>
<li><strong>Give and Take</strong>. One of the hardest things to learn is to start something new by giving up something old. I probably need to do this more.</li>
<li><strong>Failure is an option</strong>. Failure is a signal for readjustment. So assume you're going to fail and then adjust. Don't let failure get to your head. If you learn to treat it as an opportunity to re-assess and adjust your plan, you'll see that pain is sometimes your friend.</li>
</ol>
<p>I was planning on doing a new video each week, but I got a horrible cold the last couple of weeks and lost my voice. Did I fail? Maybe, but I wrote a few articles instead which I'll record as videos when I feel better. I figure they'll help me get ahead when I can record again.</p>
<h2 id="hacking-bootstrap-5">Hacking Bootstrap 5 <a class="direct-link" href="#hacking-bootstrap-5"> </a></h2>
<p>Here's what I mean by building efficiencies. I'm working on the next version of my Bootstrap Essential Training and I always also make a New Features and Migration course to help people upgrade. To make sure I know what I'm talking about, I've been working on updating my own site: <a href="http://raybo.org">raybo.org</a>.</p>
<p><a href="https://raybo.org"><img src="https://media-exp1.licdn.com/dms/image/C4E12AQH4NP-znD7p0g/article-inline_image-shrink_1500_2232/0/1617208076263?e=1629936000&amp;v=beta&amp;t=miUneCvQhyfP7LyI15lQd2iHRpBWVdk6Hl4Wu4PSW2o" alt="My Website"></a></p>
<p>That gives me a lot of practical experience working in the new version in preparation for my course work. But it also opens up opportunities for content I can build.</p>
<p>One of the more popular features in Bootstrap is the Carousel, but it isn't perfect, so while spending time learning about it. I was going to record videos about the new features. Normally to build a video, we create scripts. But couldn't those be articles as well?</p>
<p>Absolutely, and I've been thinking about that for a while. Why not just leverage so many scripts you write so often into blog posts. I wrote a whole series of articles I'm calling Hacking the Bootstrap 5 Carousel.</p>
<p><img src="https://media-exp1.licdn.com/dms/image/C4E12AQF_s06CS4x2Lg/article-inline_image-shrink_1500_2232/0/1617208533661?e=1629936000&amp;v=beta&amp;t=OukFZlP9wWOhM9c8zSmYqEfp4-X3JJ6K_9yGszAsAy0" alt="Bootstrap Carousel Image"></p>
<p>I thought this would just be one long video, but there was really three different features, so I could get 3 pieces of content from one script: I did one on <a href="https://raybo.org/posts/2021-03-27-consistent-height-carousels-with-css-gradients-by-hacking-the-bootstrap-5-carousel/">Object Fit and CSS Gradients</a>, <a href="https://raybo.org/posts/2021-03-28-making-sidebar-carousels-with-css-by-hacking-the-bootstrap-5-carousel/">Building Sidebar Carousels</a> and <a href="https://raybo.org/posts/2021-03-29-automating-the-creation-of-carousel-features-with-javascript-by-hacking-the-bootstrap-carousel/">Automating Features with JavaScript</a>.</p>
<p>The research becomes the scripts for the articles that become the videos that catch me up with my video production that prepare me for the course and doing three articles gives me a buffer of content for the next time I'm sick or just need some extra time to focus on something else. Anytime you can leverage one thing for another, it helps you save time and makes your life easier.</p>
<h2 id="the-links">The Links <a class="direct-link" href="#the-links"> </a></h2>
<p>It's how I approached all the social media activity you see. I used to bookmark things that I enjoyed all the time, so I thought, couldn't those become quick posts? Which then turn into ideas for content for my blog, articles, courses, live streams. Learning to leverage one thing into another is the key.</p>
<p>Here's the most popular stuff I've posted recently:</p>
<p><img src="https://media-exp1.licdn.com/dms/image/C4E12AQEOE73JGNlxBw/article-inline_image-shrink_1500_2232/0/1617210128316?e=1629936000&amp;v=beta&amp;t=xkb5CcVapKOneu9lizRl42W5y1M2o2h8Gl966EdwstI" alt="91 Patterns"></p>
<p><a href="https://csslayout.io/">CSS Layout</a> has a lot of cool patterns you can use for your layouts with the CSS code to implement them. Just grab, copy and paste. People really seem to be digging <a href="https://free-for.dev/">Free-for.dev</a>, a list of tools for developers that are free. I was really surprised that one of the most popular posts was <a href="https://elrumordelaluz.github.io/csshake/">CSShake</a>, a library for shaking your DOM using CSS. Maybe it's because most people like my friend Morten though it was for tree shaking (Oh Morten!)</p>
<h2 id="my-time-machine">My Time Machine <a class="direct-link" href="#my-time-machine"> </a></h2>
<p><img src="http://pixelprowess.com/i/2021-06-21_08-47-00.png" alt="Publer"></p>
<p>Another one of my tricks is to use a time machine (Scheduler) to do my posts in advance. I'm therefore a few weeks ahead and here's a few things I'll be posting about: <a href="https://coolbackgrounds.io/">Cool Backgrounds</a> has some excellent generators with random backgrounds that you can download the code for. <a href="https://coollabs.io/coolify">Coolify</a> is an interesting open source, self hostable Heroku and Netlify clone (Is that even possible?). And also check out <a href="https://introjs.com/">Intro.js</a> if you want to create a demo of your site when users first visit.</p>
<p>Now you know what's in my head. Let me know what's in yours with you awesome comments.</p>

      </main>
      <aside class="aside aside-supplemental d-none d-lg-block col-lg-3 col-xl-3 mt-3">
        <h4>Contents</h4>
        <nav class="sticky-top" style="top: 100px;">
        <div class="">
                <ol>
                    
                    <li><a href="#here's-some-tips-on-multitasking%3A">Here's some tips on multitasking:  </a>
            		</li>

                    <li><a href="#hacking-bootstrap-5">Hacking Bootstrap 5  </a>
            		</li>

                    <li><a href="#the-links">The Links  </a>
            		</li>

                    <li><a href="#my-time-machine">My Time Machine  </a>
            		</li>
                </ol>
            </div>
        </nav>
      </aside>
  <div>
</main>
</article>

    <footer class="site-footer bg-transparent pb-3 pb-md-5">
      <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
      <div class="text-center">
      <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
      </div>
    </footer>

  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>