<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="In this first edition, I try to explain what I'm doing with the newsletter, a bit of my background story and highlight some of the work I've been doing recently." />
    <meta property="og:title" content="Lets Get Started" />
    <meta property="og:description" content="In this first edition, I try to explain what I'm doing with the newsletter, a bit of my background story and highlight some of the work I've been doing recently." />
    <meta property="og:image" content="https://raybo.org/images/posts/apply-get-started.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/newsletter/2021-02-24-apply-newsletter-lets-get-started/">
    <meta name="twitter:title" content="Lets Get Started">
    <meta name="twitter:description" content="In this first edition, I try to explain what I'm doing with the newsletter, a bit of my background story and highlight some of the work I've been doing recently.">
    <meta name="twitter:image" content="https://raybo.org/images/posts/apply-get-started.png">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative bg-dark">
    <nav class="site-nav family-sans navbar navbar-expand-md bg-dark navbar-dark  fixed-top  py-0">
  <div class="container">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a> 
    </div>
    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link fw-bold  text-light" href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/toolbox/0/">toolbox</a>
            
            <a class="nav-item nav-link" href="/shorts/0/">shorts</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                  <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                  <i class="bi bi-github text-secondary me-1"></i> github
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                  <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                  <i class="bi bi-twitter text-secondary me-1"></i> twitter
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                  <i class="bi bi-image text-secondary me-1"></i> flickr
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                  <i class="bi bi-youtube text-secondary me-1"></i> youtube
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                  <i class="bi bi-instagram text-secondary me-1"></i> instagram
              </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
  <header id="page-hero" class="site-header position-relative container  site-header" style="border-radius: 20px !important; margin-top: 60px; min-height: 60vh">
<section class="layout-hero position-absolute d-flex align-items-center" style="background-image: linear-gradient(rgba(126, 59, 151, .6) 50px, transparent), url(/images/posts/apply-get-started.png); height: 100%; width: 100%; transform: scale(1.1);" ></section>
<div class="layout-hero-content position-absolute d-flex w-100" style="bottom: 0;">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h2 class="page-section-title text-light">Lets Get Started</h2>
        <p class="page-section-text text-light d-none d-md-block">
          In this first edition, I try to explain what I'm doing with the newsletter, a bit of my background story and highlight some of the work I've been doing recently.
        </p>
      </div>
    </div>
  </div>
</div>
</header> 



 
<article id="main-content" class="site-main container mt-3 mb-5"

>
<main class="article-content px-3 px-sm-0 container">

  <div class="row">
    <main class="article-content px-3 px-sm-0 main col-lg-9">
    <p>Here I go. I'm going to get started on this newsletter I've been thinking about for so long. It's not easy committing to, but unless you jump in, you might never get started.</p>
<h2 id="what's-this-about%3F">What's this about? <a class="direct-link" href="#what's-this-about%3F"> </a></h2>
<p>A while back my wife dropped me off at the LinkedIn studios and mentioned...&quot;look Ray, it's nerds just like you&quot;. So, with this newsletter, I plan to find my brethren, the #nerdherd that is looking for others just like me and give you some resources to help you grow and challenge yourself to a great career in Web Development.</p>
<p>If you want to learn more about my story, I did a course where I go over how I got started in web design as a career switcher from Graphic Design. It's about getting that first job in Web Development.</p>
<h2 id="let's-get-busy">Let's get Busy <a class="direct-link" href="#let's-get-busy"> </a></h2>
<p>I've been experimenting with creating content in different formats, so you may have seen some of my different experiments. Let me share some of those.</p>
<p>I've been working on a project for about four years to let people work with our courses using Github repos. The project was so successful that it became an official LinkedIn project. We have released about 150 courses so far using this structure that you might hear more about in the future.</p>
<h2 id="javascript-as-a-second-language">JavaScript as a Second Language <a class="direct-link" href="#javascript-as-a-second-language"> </a></h2>
<p>Another one of my experiments has been to explore a different type of video course tutorial. It's my attempt to create fun, short video content using graphics that teach complex concepts in a fun way.</p>
<p>I ended up calling it JavaScript as a Second Language because it reminds me of when I had to learn English (ESL). Learning a second language is hard and you don't do it by reading a dictionary, you learn a lot from context, so that's how I approach explaining JavaScript concepts.</p>
<p>I'm pretty excited about this one and I'm exploring how to expand this concept into additional content.</p>
<h2 id="the-links">The Links <a class="direct-link" href="#the-links"> </a></h2>
<p>I monitor tons of sites and I've been making two posts per weekday about projects I find useful for developers.</p>
<p>Today I launched a new little experiment to see if this can become video content. I'm calling it The Links because I seem to be giving everything else a single word name. I guess a theme is a theme.</p>
<p>Videos perform way better than graphics, which perform better than posts. They take longer to do, so I'm trying to build my templates to make things more efficient.</p>
<p>This week, I took another look at Bootstrap Icons. An open source icon framework from the makers of Bootstrap. It started out smaller, but it's become my go-to icon library. It's pretty thorough already, and they just added 60 weather icons, so it gets updated frequently.</p>
<p>I was staying away from this one until they added Icon Fonts, which makes it much easier to include in your projects with just an i tag.</p>
<pre class="language-html"><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>i</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>bi bi-alarm<span class="token punctuation">"</span></span><span class="token punctuation">></span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>i</span><span class="token punctuation">></span></span></code></pre>
<p>But if you need to you can still copy the svg and the page for each icon shows you the icons in different context.</p>
<p>There's lots of snippets of code that show you how to incorporate this into things like your CSS. Pretty handy.</p>
<h2 id="the-launch">The Launch <a class="direct-link" href="#the-launch"> </a></h2>
<p>I created a &quot;Launch Party&quot; when my course on Tailwind CSS released. But I didn't want to just make it a 'come watch my new course' video.</p>
<p>For this first episode, I talked about the differences between Tailwind CSS and Bootstrap. I really love both and you can watch and find out the differences, when one is better than the other and which one I think takes the cake.</p>
<h2 id="one-more">One More <a class="direct-link" href="#one-more"> </a></h2>
<p><lite-youtube videoid="l1DeaNvAOb8" style="width:100%"></lite-youtube></p>
<p><a href="https://www.youtube.com/watch?v=l1DeaNvAOb8">https://www.youtube.com/watch?v=l1DeaNvAOb8</a></p>
<p>I tried creating another series on YouTube to create shorter videos about JavaScript libraries I find useful. I really liked this project, but it took so long. The best thing about live streaming is the interaction when people show up.</p>
<p>I wrote an article on my blog about my attempts to simplify this process using Git and VSCode. I think this process could really help you if you were doing a live coding demo. At some point, I'm going to go back to this one and develop it more.</p>
<h2 id="most-useful">Most useful <a class="direct-link" href="#most-useful"> </a></h2>
<p>For this first episode, I'm going to leave you with the 5 most popular links from my daily posting. In case you're wondering I use a great app called Publer to organize my publishing and Switchy to build short links, so this data is from Switchy.</p>
<ul>
<li><a href="https://go.raybo.org/2k4E">CSS Layout</a></li>
<li><a href="https://go.raybo.org/2Sxq">Curtains.js</a></li>
<li><a href="https://go.raybo.org/2UzB">CSS Backgrounds</a></li>
<li><a href="https://devfonts.gafi.dev/">Dev Fonts</a></li>
</ul>

    </main>
    <aside class="aside aside-supplemental d-none d-lg-block col-lg-3 mt-3">
      <h4>Contents</h4>
      <nav class="sticky-top" style="top: 100px;">
      <div class="">
                <ol>
                    
                    <li><a href="#what's-this-about%3F">What's this about?</a>
            		</li>

                    <li><a href="#let's-get-busy">Let's get Busy</a>
            		</li>

                    <li><a href="#javascript-as-a-second-language">JavaScript as a Second Language</a>
            		</li>

                    <li><a href="#the-links">The Links</a>
            		</li>

                    <li><a href="#the-launch">The Launch</a>
            		</li>

                    <li><a href="#one-more">One More</a>
            		</li>

                    <li><a href="#most-useful">Most useful</a>
            		</li>
                </ol>
            </div>
      </nav>
    </aside>
  <div>
</main>
</article>

  <footer class="site-footer bg-transparent pb-3 pb-md-5">
    <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
    <div class="text-center">
    <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
  </footer>
  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>