---
layout: page.njk
headerHeight: 40vh
blur: 20px
---
<main class="article-content px-3 px-sm-0 container">
{% if video %}
<h1>{{title}}</h1>
<p class="lead">{{summary}}</p>
{%endif%}
  <div class="row">
    <main class="article-content px-3 px-sm-0 main col">
    {{ content | safe }}
    </main>
    <aside class="aside aside-supplemental d-none d-lg-block col-lg-3 col-xl-3 mt-3">
      <h4>Contents</h4>
      <nav class="sticky-top" style="top: 100px;">
      {{ content | toc | safe }}
      </nav>
    </aside>
  <div>
</main>