<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="Learn full-stack developer skills with a clear, practical style" />
    <meta property="og:title" content="Raybo.org" />
    <meta property="og:description" content="Learn full-stack developer skills with a clear, practical style" />
    <meta property="og:image" content="https://raybo.org/images/site/graphic_videos.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/videos/0/">
    <meta name="twitter:title" content="Raybo.org">
    <meta name="twitter:description" content="Learn full-stack developer skills with a clear, practical style">
    <meta name="twitter:image" content="https://raybo.org/images/site/graphic_videos.png">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative bg-dark">
    <nav class="site-nav family-sans navbar navbar-expand-md bg-dark navbar-dark  fixed-top  py-0">
  <div class="container">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a>  <span class="d-none d-lg-inline">|</span> <span class="small text-light text-uppercase d-none d-lg-inline align-text-middle">videos</span>
    </div>
    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link " href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link disabled fw-bold text-light" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/toolbox/0/">toolbox</a>
            
            <a class="nav-item nav-link" href="/shorts/0/">shorts</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                  <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                  <i class="bi bi-github text-secondary me-1"></i> github
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                  <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                  <i class="bi bi-twitter text-secondary me-1"></i> twitter
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                  <i class="bi bi-image text-secondary me-1"></i> flickr
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                  <i class="bi bi-youtube text-secondary me-1"></i> youtube
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                  <i class="bi bi-instagram text-secondary me-1"></i> instagram
              </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
  <header id="page-hero" class="site-header position-relative container  site-header" style="border-radius: 20px !important; margin-top: 60px; min-height: 50vh">
<section class="layout-hero position-absolute d-flex align-items-center" style="background-image: linear-gradient(rgba(126, 59, 151, .6) 50px, transparent), url(/images/site/graphic_videos.png); height: 100%; width: 100%; transform: scale(1.1);" ></section>
<div class="layout-hero-content position-absolute d-flex w-100" style="bottom: 0;">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="header-content col-11 col-sm-10 col-md-9 animated fadeInUp">
        <h2 class="page-section-title text-light"></h2>
        <p class="page-section-text text-light d-none d-md-block">
          
        </p>
      </div>
    </div>
  </div>
</div>
</header> 



 
<article id="main-content" class="site-main container mt-3 mb-5"

>

<nav class="my-3" aria-label="Page navigation">
  <div class="pagination pagination-sm justify-content-center">
      
      <div class="page-item disabled">
        <span class="page-link disabled" href="."><i class="bi bi-arrow-left"></i></span>
      </div>
      

      
        <div class="page-item active"><a class="page-link" href="/videos/0/">1</a></div>
      
        <div class="page-item "><a class="page-link" href="/videos/1/">2</a></div>
      
        <div class="page-item "><a class="page-link" href="/videos/2/">3</a></div>
      
        <div class="page-item "><a class="page-link" href="/videos/3/">4</a></div>
      


      
      <div class="page-item">
        <a class="page-link" href="/videos/1/"><i class="bi bi-arrow-right"></i></a>
      </div>
      
  </div>
</nav>


<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
    <div class="card">
      <lite-youtube videoid="k2RnfcjDN2g" style="background-image: url('/images/videos/managingtheDOM_tn.jpg'); width:400px;">
        <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Managing the DOM to Automate the creation of Bootstrap 5 Indicators.</span></button>
      </lite-youtube>
      <div class="card-body">
        <a href="https://www.youtube.com/watch?v=k2RnfcjDN2g" class="family-sans card-title fs-5 fw-bold lh-1 text-decoration-none">Managing the DOM to Automate the creation of Bootstrap 5 Indicators.</a>
        <div class="card-text fs-6">There are two techniques you can use to add elements to the DOM. You can create the elements from scratch and then add properties. This is part one of a short, two part series where I show you how to manage the DOM. In this example, I'm using Bootstrap 5 to automate the creation of indicators on one or more Carousels, but it's a tip that you should be comfortable with.</div>
      </div>
    </div> 
  </div>


    <div class="col">
    <div class="card">
      <lite-youtube videoid="KHF6nysy0-c" style="background-image: url('https://i.ytimg.com/vi/KHF6nysy0-c/hqdefault.jpg'); width:400px;">
        <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Hacking the Bootstrap 5 Carousel: Consistent Height Carousels with CSS Gradients and Object Fit</span></button>
      </lite-youtube>
      <div class="card-body">
        <a href="https://www.youtube.com/watch?v=KHF6nysy0-c" class="family-sans card-title fs-5 fw-bold lh-1 text-decoration-none">Hacking the Bootstrap 5 Carousel: Consistent Height Carousels with CSS Gradients and Object Fit</a>
        <div class="card-text fs-6">The Bootstrap carousel is one of the most popular components in Bootstrap 5, but we have the technology to improve it and at the same time learn about one of my favorite new CSS features object-position and object-fit.</div>
      </div>
    </div> 
  </div>


    <div class="col">
    <div class="card">
      <lite-youtube videoid="0-1aD5M40js" style="background-image: url('https://i.ytimg.com/vi/0-1aD5M40js/hqdefault.jpg'); width:400px;">
        <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Building Sidebar Carousels with CSS by Hacking the Bootstrap Carousel</span></button>
      </lite-youtube>
      <div class="card-body">
        <a href="https://www.youtube.com/watch?v=0-1aD5M40js" class="family-sans card-title fs-5 fw-bold lh-1 text-decoration-none">Building Sidebar Carousels with CSS by Hacking the Bootstrap Carousel</a>
        <div class="card-text fs-6">You don't have to use a single carousel on a page, they work really well on sidebars to cycle through content, getting attention by using their sliding or fading features.</div>
      </div>
    </div> 
  </div>


    <div class="col">
    <div class="card">
      <lite-youtube videoid="71RrEJ00gPk" style="background-image: url('/images/videos/launch-react-graphql_tn.jpg'); width:400px;">
        <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Understanding how React Hooks work with GraphQL using the Github GraphQL API</span></button>
      </lite-youtube>
      <div class="card-body">
        <a href="https://www.youtube.com/watch?v=71RrEJ00gPk" class="family-sans card-title fs-5 fw-bold lh-1 text-decoration-none">Understanding how React Hooks work with GraphQL using the Github GraphQL API</a>
        <div class="card-text fs-6">Like great wine, there are some tools that pair exceptionally well with each other. One of those is React and GrahpQL. To celebrate the launch of my new course, I'm hosting a new livestream to talk about how they work together, why you should build something with them as soon as possible and how to use them with React Hooks.</div>
      </div>
    </div> 
  </div>


    <div class="col">
    <div class="card">
      <lite-youtube videoid="UQkhm_fQnOU" style="background-image: url('https://i.ytimg.com/vi/UQkhm_fQnOU/hqdefault.jpg'); width:400px;">
        <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Best Web Developer Tools, Extensions and Modules to Get Started on your Next Web Design Project</span></button>
      </lite-youtube>
      <div class="card-body">
        <a href="https://www.youtube.com/watch?v=UQkhm_fQnOU" class="family-sans card-title fs-5 fw-bold lh-1 text-decoration-none">Best Web Developer Tools, Extensions and Modules to Get Started on your Next Web Design Project</a>
        <div class="card-text fs-6">You've got a new web development project to build, but how to begin. Here's a few tips and tricks that I use which are the best ways to get your web design projects started quickly.</div>
      </div>
    </div> 
  </div>


    <div class="col">
    <div class="card">
      <lite-youtube videoid="KvQ4WCIXg0w" style="background-image: url('https://i.ytimg.com/vi/KvQ4WCIXg0w/hqdefault.jpg'); width:400px;">
        <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Automate Image Compression for your Websites with the latest codecs using Squoosh from Google</span></button>
      </lite-youtube>
      <div class="card-body">
        <a href="https://www.youtube.com/watch?v=KvQ4WCIXg0w" class="family-sans card-title fs-5 fw-bold lh-1 text-decoration-none">Automate Image Compression for your Websites with the latest codecs using Squoosh from Google</a>
        <div class="card-text fs-6">To get the smallest sizes for your web design images, you need to try the latest codecs like WebP, MozJPEG, AVIF and Google created an excellent tool that helps you automate that process.</div>
      </div>
    </div> 
  </div>


    <div class="col">
    <div class="card">
      <lite-youtube videoid="CICYdO0g8Ew" style="background-image: url('https://i.ytimg.com/vi/CICYdO0g8Ew/hqdefault.jpg'); width:400px;">
        <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">CSS Tips and Tricks: Responsive content without media queries using CSS Clamp()</span></button>
      </lite-youtube>
      <div class="card-body">
        <a href="https://www.youtube.com/watch?v=CICYdO0g8Ew" class="family-sans card-title fs-5 fw-bold lh-1 text-decoration-none">CSS Tips and Tricks: Responsive content without media queries using CSS Clamp()</a>
        <div class="card-text fs-6">There's a super useful CSS function called Clamp() you've got to learn as a part of your of bag of CSS Tips and Tricks.</div>
      </div>
    </div> 
  </div>


    <div class="col">
    <div class="card">
      <lite-youtube videoid="Nhpyb1jx54A" style="background-image: url('https://i.ytimg.com/vi/Nhpyb1jx54A/hqdefault.jpg'); width:400px;">
        <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Bootstrap Icons - Free Icons for Web Design</span></button>
      </lite-youtube>
      <div class="card-body">
        <a href="https://www.youtube.com/watch?v=Nhpyb1jx54A" class="family-sans card-title fs-5 fw-bold lh-1 text-decoration-none">Bootstrap Icons - Free Icons for Web Design</a>
        <div class="card-text fs-6">If you're looking for free Icons for web design. Bootstrap Icons is an open source icon set from the makers of the bootstrap framework with more than 1300 icons</div>
      </div>
    </div> 
  </div>


    <div class="col">
    <div class="card">
      <lite-youtube videoid="6ULHBv_0Y3U" style="background-image: url('https://i.ytimg.com/vi/6ULHBv_0Y3U/hqdefault.jpg'); width:400px;">
        <button type="button" class="lty-playbtn"><span class="lyt-visually-hidden">Tailwind CSS vs Bootstrap-Is it time to switch?</span></button>
      </lite-youtube>
      <div class="card-body">
        <a href="https://www.youtube.com/watch?v=6ULHBv_0Y3U" class="family-sans card-title fs-5 fw-bold lh-1 text-decoration-none">Tailwind CSS vs Bootstrap-Is it time to switch?</a>
        <div class="card-text fs-6">A live stream on Tailwind vs Bootstrap because I think you need to know when and if it's the right time to switch to this new CSS library.</div>
      </div>
    </div> 
  </div>

</div>

<nav class="my-3" aria-label="Page navigation">
  <div class="pagination pagination-sm justify-content-center">
      
      <div class="page-item disabled">
        <span class="page-link disabled" href="."><i class="bi bi-arrow-left"></i></span>
      </div>
      

      
        <div class="page-item active"><a class="page-link" href="/videos/0/">1</a></div>
      
        <div class="page-item "><a class="page-link" href="/videos/1/">2</a></div>
      
        <div class="page-item "><a class="page-link" href="/videos/2/">3</a></div>
      
        <div class="page-item "><a class="page-link" href="/videos/3/">4</a></div>
      


      
      <div class="page-item">
        <a class="page-link" href="/videos/1/"><i class="bi bi-arrow-right"></i></a>
      </div>
      
  </div>
</nav>



</article>

  <footer class="site-footer bg-transparent pb-3 pb-md-5">
    <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
    <div class="text-center">
    <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
  </footer>
  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>