<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="In this special episode of The Toolbox, I talk to Michael Jenkins about something every full stack developer should master...DevOps, plus the importance of volunteering, the magic of the cloud and wether GitHub Actions can deliver a professional CI/CD pipeline. The Pace of the web is relentless...and that's why you need, The Toolbox." />
    <meta property="og:title" content="DevOps Tips for Impatient Developers - Ep 31" />
    <meta property="og:description" content="In this special episode of The Toolbox, I talk to Michael Jenkins about something every full stack developer should master...DevOps, plus the importance of volunteering, the magic of the cloud and wether GitHub Actions can deliver a professional CI/CD pipeline. The Pace of the web is relentless...and that's why you need, The Toolbox." />
    <meta property="og:image" content="https://raybo.org/images/toolbox/episode31.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/toolbox/2022-08-24-DevOps-tips-for-Impatient-Developers/">
    <meta name="twitter:title" content="DevOps Tips for Impatient Developers - Ep 31">
    <meta name="twitter:description" content="In this special episode of The Toolbox, I talk to Michael Jenkins about something every full stack developer should master...DevOps, plus the importance of volunteering, the magic of the cloud and wether GitHub Actions can deliver a professional CI/CD pipeline. The Pace of the web is relentless...and that's why you need, The Toolbox.">
    <meta name="twitter:image" content="https://raybo.org/images/toolbox/episode31.jpg">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0361075925455951" crossorigin="anonymous"></script> 
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative bg-dark">
    <nav class="site-nav family-sans navbar navbar-expand-md bg-dark navbar-dark  sticky-top  py-0">
  <div class="container">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-bs-toggle="collapse" data-bs-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a> 
    </div>
    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link fw-bold  text-light" href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/toolbox/0/">toolbox</a>
            
            <a class="nav-item nav-link" href="/shorts/0/">shorts</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                    <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                    <i class="bi bi-github text-secondary me-1"></i> github
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                    <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                    <i class="bi bi-twitter text-secondary me-1"></i> twitter
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                    <i class="bi bi-image text-secondary me-1"></i> flickr
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                    <i class="bi bi-youtube text-secondary me-1"></i> youtube
                  </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                    <i class="bi bi-instagram text-secondary me-1"></i> instagram
                  </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
  <header id="page-hero" class="container site-header ratio ratio-16x9">
  <iframe style="border-radius: 20px;" src="https://www.youtube.com/embed/-Azr_5hNruQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</header>


 
<article id="main-content" class="site-main container mt-3 mb-5"

>
<main class="article-content px-3 px-sm-0 container">

<h1>DevOps Tips for Impatient Developers - Ep 31</h1>
<p class="lead">In this special episode of The Toolbox, I talk to Michael Jenkins about something every full stack developer should master...DevOps, plus the importance of volunteering, the magic of the cloud and wether GitHub Actions can deliver a professional CI/CD pipeline. The Pace of the web is relentless...and that&#39;s why you need, The Toolbox.</p>

  <div class="row">
    <main class="article-content px-3 px-sm-0 main col-lg-9">
    <p>Hello everyone this is Ray Villalobos and I stream about front-end and full stack tools Wednesdays at 1pm Eastern • 10am Pacific. Follow me and subscribe on LinkedIn and YouTube for more content. If you want to watch any past episodes, make sure you take a look at my blog <a href="http://raybo.org">raybo.org</a>.</p>
<p>You can find an article for Today's episode and all the links for the show.</p>
<h2 id="turn-on-the-bell-icon">Turn on the Bell Icon <a class="direct-link" href="#turn-on-the-bell-icon"> </a></h2>
<p>Also, make sure you check out my <a href="https://www.linkedin.com/in/planetoftheweb/">my profile</a> and click on the bell icon. You can't see it on your own profile, but if you follow me, it's where the bell icon is. I'll go to <a href="https://www.linkedin.com/in/michaelpjenkins/">michael's profile</a> to show you.<br>
<a href=""></a></p>
<h2 id="industry-news">Industry News <a class="direct-link" href="#industry-news"> </a></h2>
<p>Lets quickly review some of the latest industry news:</p>
<h3 id="git-merge-2022">Git Merge 2022 <a class="direct-link" href="#git-merge-2022"> </a></h3>
<p><a href="https://github.blog/2022-08-23-the-full-lineup-for-git-merge-2022-revealed/">Git Merge 2022</a> If you can't wait for the big GitHub Universe conference in November, you might want to check out this smaller conference in Chicago September 14-15. The workshops look really good with some beginner as well as a monorepo spring cleaning talk. Almost a third of the speakers work at GitHub.</p>
<h3 id="github-pages%2C-now-with-actions">GitHub Pages, now with actions <a class="direct-link" href="#github-pages%2C-now-with-actions"> </a></h3>
<p><a href="https://github.blog/2022-08-10-github-pages-now-uses-actions-by-default/">GitHub Pages</a> A small, but important change with GitHub pages is that they now use GitHub Actions by default. So this is now under your <a href="https://github.com/planetoftheweb/slides_jsfunctions/settings/pages">settings under pages</a></p>
<p>You now have the classic option that let you use either the docs folder from a specific branch, but now when you choose GitHub actions, it will let you use pre-built actions for Jekyll or server a static HTML page. The interesting bit is that you can create your workflow. So far, I've been using this awesome <a href="https://github.com/JamesIves/github-pages-deploy-action">action from James Ives</a> that publishes your build process to a separate branch and then lets you deploy that branch to GitHub Pages.</p>
<p>If you've ever watched any of my courses, you know that I use my own variant of Reveal.js called RayVealjs to serve <a href="https://raybo.org/slides_jsfunctions">markdown slides</a>. I've been really working hard on an update that uses this process to make the whole thing easier to build, so look for a big update soon based on this actions based deploy method.</p>
<p>They also provide a set of workflows for <a href="https://github.com/actions/starter-workflows/tree/main/pages">popular build tools</a>, although I don't see one for vite yet.</p>
<h2 id="vite">Vite <a class="direct-link" href="#vite"> </a></h2>
<p>When Vite first came out, I was already looking for a better tooling solution for building sites. I went through a process of analysing all the existing options and noticed it was the new thing. As soon as I tried it, I went right to it, so it's great that it's got a new version.</p>
<p>If you haven't used it before, what I love about it is how much you get out of the box and how intuitive it is. It has all the modern features like Hot Module Reloading, which makes rebuids are super fast, even when you reconfigure something while in development. Support for Sass, JSX, TypeScript.</p>
<p>It's made by the folks who gave us Vue.js, which I thought always had the best CLI experience. I recently updated my slides app to version 3 and I didn't have to change anything. If you take a peek at <a href="https://vitejs.dev/">the changelog</a> for version 3, you'll notice some minor things like port changes, dropping support for older versions of node.</p>
<p>I really love their <a href="https://vitejs.dev/blog/announcing-vite3.html">meta.glob</a> improvements. This allows you to import whole folders of content and it's now way more flexible allowing you to make an array of imports at once. If you want to read about their new features, check out their <a href="https://vitejs.dev/blog/announcing-vite3.html">blog post</a>.</p>
<h3 id="unplugin-icons">Unplugin Icons <a class="direct-link" href="#unplugin-icons"> </a></h3>
<p>Lately, I've been using the <a href="https://icons.getbootstrap.com/">Bootstrap Icon library</a> for most of my icon needs, but even with more than 1600 icons, often I can't find what I need, so the concept of this library is to give you access to more than 100 different icon libraries and easily call in a single icon into a module. It works with regular JS, Vite and all the frameworks the cool kids are using. You can even load up your own custom icons. That seems like a great idea.</p>
<h2 id="patterns-book">Patterns Book <a class="direct-link" href="#patterns-book"> </a></h2>
<p>Finally, Addy Osmani has had this book on <a href="https://www.patterns.dev/">JavaScript patterns</a> for quite a while and now he's updated it with Lydia Hallie with tons of examples, code sandboxes and animations. If you want to learn some beginner to advanced JavaScript patterns you should totally check this out.</p>
<h2 id="toolbox-talks">Toolbox Talks <a class="direct-link" href="#toolbox-talks"> </a></h2>
<p>So, I've been talking to a lot industry professionals recently on something I'm calling <a href="https://www.youtube.com/playlist?list=PL1ezw_kTxXOm-x2kWZBRI5MMMxNDGHM4v">Toolbox Talks</a> so far, I've interviewed Carlos Solis, Ronnie Sheer and Christina Truong.</p>
<p>This week, I'm continuing that talking to Michael Jenkins, a super talented technologist who started out with as a serious electronics engineer, before he discovered the power of DevOps.</p>
<p>Let's Listen In</p>
<h2 id="q%26a">Q&amp;A <a class="direct-link" href="#q%26a"> </a></h2>
<h2 id="goodbye">Goodbye <a class="direct-link" href="#goodbye"> </a></h2>
<p>I have to go right into course production next, so I might be gone for a couple of weeks, then I other interviews in the works. Let me know what you want me to cover in the comments</p>
<h2 id="links">Links <a class="direct-link" href="#links"> </a></h2>
<ul>
<li><a href="https://github.blog/2022-08-23-the-full-lineup-for-git-merge-2022-revealed/">Git Merge</a></li>
<li><a href="https://github.com/planetoftheweb/slides_jsfunctions/settings/pages">GitHub Pages</a></li>
<li><a href="https://github.com/JamesIves/github-pages-deploy-action">Pages Deploy Action</a></li>
<li><a href="https://raybo.org/slides_jsfunctions">Markdown Slides Project</a></li>
<li><a href="https://github.com/actions/starter-workflows">Starter GitHub Action Workflows</a></li>
<li><a href="https://vitejs.dev/">Vite 3</a></li>
<li><a href="https://vitejs.dev/blog/announcing-vite3.html">Vite Improvements</a></li>
<li><a href="https://icons.getbootstrap.com/">Bootstrap Icons</a></li>
<li><a href="https://www.patterns.dev/">JavaScript Patterns</a></li>
<li><a href="https://www.youtube.com/playlist?list=PL1ezw_kTxXOm-x2kWZBRI5MMMxNDGHM4v">Toolbox Talks</a></li>
<li><a href="https://go.raybo.org/9s02">DevOps Tips</a></li>
<li><a href="https://go.raybo.org/9s1-">Advanced Actions</a></li>
<li><a href="https://go.raybo.org/9s2V">Nailing Your DevOps Interview</a></li>
<li><a href="https://www.linkedin.com/in/michaelpjenkins/">Michael's Profile</a></li>
<li><a href="https://go.raybo.org/9s2V">Michael's Courses on LinkedIn</a></li>
<li><a href="https://twitter.com/managedkaos">Michael on Twitter</a></li>
<li><a href="https://raybo.org">Ray's Blog</a></li>
<li><a href="https://www.linkedin.com/in/planetoftheweb">Ray on LinkedIn</a></li>
</ul>

    </main>
    <aside class="aside aside-supplemental d-none d-lg-block col-lg-3 mt-3">
      <h4>Contents</h4>
      <nav class="sticky-top" style="top: 100px;">
      <div class="">
                <ol>
                    
                    <li><a href="#turn-on-the-bell-icon">Turn on the Bell Icon</a>
            		</li>

                    <li><a href="#industry-news">Industry News</a>
            		</li>

                    <li><a href="#vite">Vite</a>
            		</li>

                    <li><a href="#patterns-book">Patterns Book</a>
            		</li>

                    <li><a href="#toolbox-talks">Toolbox Talks</a>
            		</li>

                    <li><a href="#q%26a">Q&A</a>
            		</li>

                    <li><a href="#goodbye">Goodbye</a>
            		</li>

                    <li><a href="#links">Links</a>
            		</li>
                </ol>
            </div>
      </nav>
    </aside>
  <div>
</main>
</article>

  <footer class="site-footer bg-transparent pb-3 pb-md-5">
    <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
    <div class="text-center">
    <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
  </footer>
  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>
