<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Raybo.org</title>

    <meta name="description" content="In this episode of the Toolbox, I'm going to talk about my recent experience creating a new course using online tools and why I think that's the future of coding...Dear friends, it's the end of coding as we know it." />
    <meta property="og:title" content="The End of Coding as we know it." />
    <meta property="og:description" content="In this episode of the Toolbox, I'm going to talk about my recent experience creating a new course using online tools and why I think that's the future of coding...Dear friends, it's the end of coding as we know it." />
    <meta property="og:image" content="https://raybo.org/images/toolbox/desktopcoding.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://raybo.org/toolbox/2021-11-10-The-End-Of-Coding--Ep11/">
    <meta name="twitter:title" content="The End of Coding as we know it.">
    <meta name="twitter:description" content="In this episode of the Toolbox, I'm going to talk about my recent experience creating a new course using online tools and why I think that's the future of coding...Dear friends, it's the end of coding as we know it.">
    <meta name="twitter:image" content="https://raybo.org/images/toolbox/desktopcoding.png">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.6.0/themes/prism-shades-of-purple.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Roboto+Slab:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"> 
 
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script defer src="/js/lite-yt-embed.js"></script>
    <script defer src="/js/script.js"></script>
 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58547762-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-58547762-1');
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
  </head>
  <body class="position-relative bg-dark">
    <nav class="site-nav family-sans navbar navbar-expand-md bg-dark navbar-dark  sticky-top  py-0">
  <div class="container">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand text-lowercase">
      <a class="text-white text-decoration-none" href="/"><i class="icon icon-pow"></i>Raybo.org</a> 
    </div>
    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ms-auto fw-regular text-uppercase">
        
        <a class="d-none nav-item nav-link" href="#page-hero">hero target</a>
        <a class="d-none nav-item nav-link" href="#main-content">nav target</a>        
        <a class="nav-item nav-link fw-bold  text-light" href="/"><i class="bi bi-house-door-fill"></i></a>
        
            <a class="nav-item nav-link" href="/courses/0/">courses</a>
            
            <a class="nav-item nav-link" href="/videos/0/">videos</a>
            
            <a class="nav-item nav-link" href="/toolbox/0/">toolbox</a>
            
            <a class="nav-item nav-link" href="/shorts/0/">shorts</a>
            
            <a class="nav-item nav-link" href="/posts/0/">posts</a>
            
            <a class="nav-item nav-link" href="/newsletter/0/">newsletter</a>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item text-capitalize" href="/about">About Me</a></li>
              <li><hr class="dropdown-divider"></li><li>
                  <a class="dropdown-item text-capitalize" href="https://linkedin.com/in/planetoftheweb">
                  <i class="bi bi-linkedin text-secondary me-1"></i> linkedin
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://github.com/planetoftheweb">
                  <i class="bi bi-github text-secondary me-1"></i> github
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.joinclubhouse.com/planetoftheweb">
                  <i class="bi bi-suit-club text-secondary me-1"></i> clubhouse
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://twitter.com/planetoftheweb">
                  <i class="bi bi-twitter text-secondary me-1"></i> twitter
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
                  <i class="bi bi-image text-secondary me-1"></i> flickr
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.youtube.com/user/planetoftheweb">
                  <i class="bi bi-youtube text-secondary me-1"></i> youtube
              </a>
                </li><li>
                  <a class="dropdown-item text-capitalize" href="https://www.instagram.com/planetoftheweb">
                  <i class="bi bi-instagram text-secondary me-1"></i> instagram
              </a>
                </li></ul>
          </div>
        </div>
      </div>
      <div class="searchbox pl-2 py-2">
    <input
      type="text"
      v-model="query"
      class="form-control text-white border m-auto"
      :class="[isActive ? 'wide' : 'short']"
      @focus="isActive=true"
      @blur.prevent="handleBlur"
      ref="searchinput"
      style="background: transparent;"
      aria-describedby="searchinput"
      autocomplete="off"
    >
    <div v-if="query && isActive" class="position-absolute justify-content-center" style="top: 47px;">
      <div class="card bg-secondary">
        <ul class="list-group list-group-flush px-0" v-for="(item, index) in queried" :key="index">
          <li class="list-group-item">
            <a :href="item.url" class="d-flex text-secondary">
              <span class="pr-2" v-html="item.icon"></span>
              <span class="text-body text-start" v-html="item.title"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
    </div>
  </div>
</nav>

    
  <header id="page-hero" class="site-header ratio ratio-16x9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/m33g-56Vgr0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</header>


 
<article id="main-content" class="site-main container mt-3 mb-5"

>
<main class="article-content px-3 px-sm-0 container">

<h1>The End of Coding as we know it.</h1>
<p class="lead">In this episode of the Toolbox, I&#39;m going to talk about my recent experience creating a new course using online tools and why I think that&#39;s the future of coding...Dear friends, it&#39;s the end of coding as we know it.</p>

  <div class="row">
    <main class="article-content px-3 px-sm-0 main col-lg-9">
    <p>Let's get started with a couple of shorts. There are new tools and articles that you should know about. I've got a couple of new ones that are interesting.</p>
<h2 id="hydrogen-e-commerce-framework">Hydrogen E-commerce Framework <a class="direct-link" href="#hydrogen-e-commerce-framework"> </a></h2>
<p><a href="https://shopify.dev/api/hydrogen"><img src="/images/shorts/2021-11-10_00-17-02.png" alt="Hydrogen E-commerce Framework"></a></p>
<p>First is Hydrogen, a new framework from Shopify. I really didn't want to like this, but there it is, pretty much everything I want to use packaged into a nice framework that's just like every full stack developer bingo favorites.</p>
<p>To begin with, it already uses liquid, a templating system that's pretty popular among <a href="https://www.11ty.dev/">Eleventy users</a>. However, hydrogen is based on React, adds Vite for Tooling, expressJS, a GraphQL API…dang it, it's like if I would have made all the decisions for this thing. It makes it easy for the sites you build with it to be search engine friendly and uses Tailwind CSS by default.</p>
<p>I think the plan is to make this into something like NextJS, that makes it a compelling place to start your e-commerce site.</p>
<p>Now, all I need is some products to sell besides my <a href="https://cottonbureau.com/products/pow-shirt">t-shirt</a>.</p>
<h2 id="microsoft-loop">Microsoft Loop <a class="direct-link" href="#microsoft-loop"> </a></h2>
<p><a href="https://www.microsoft.com/en-us/microsoft-loop"><img src="/images/shorts/2021-11-10_00-36-17.png" alt="Github Issues"></a></p>
<p>Before I mention this next thing, I have to tell you that I'm a Microsoft employee, but I'm always on a constant quest for productivity tools. In the last Ignite conference, Microsoft made a pretty cool announcement introducing something called <a href="https://www.microsoft.com/en-us/microsoft-loop">Loop</a>.</p>
<p>Loop is a pretty similar to another tool called <a href="https://www.notion.so/">Notion</a> and before I moved to Obsidian, which by the way…check out <a href="https://www.youtube.com/watch?v=6YJfZE8UUXg">Episode 03</a>, where I talk about my switch to Obsidian.</p>
<p>What Notion/Loop do that's better is one of those things that is hard to put into words. Part of it is that it's a place to publish content within your company where it's available to others within the organization.</p>
<p><img src="/images/shorts/2021-11-10_01-15-02.png" alt="Notion Documents"></p>
<p>Notion lets you save the usual notes and you can use templates to create content with a previously defined structure, but it also lets you create Kanban Boards (which developers love for getting things done), simpler to-do list type documents, calendar items, galleries and timelines for project management.</p>
<p>What makes these tools different is that they let you collaborate with others on this content better than anything else. It's one of the reasons people like tools like Teams or Slack. Whereas teams excels at communications, but doesn't work well for collaborating on documents. That's Loops and Notions happy place.</p>
<p>That's why it's not the right fit for my personal work where I'm just doing work by myself and I need to use straight markdown.</p>
<h2 id="the-end-of-coding-as-we-know-it">The End of Coding as We Know it <a class="direct-link" href="#the-end-of-coding-as-we-know-it"> </a></h2>
<p><img src="/images/toolbox/desktopcoding.png" alt="The End of Coding"></p>
<p>I just finished a course on Publishing with GitHub and I usually plan my topics months if not a year in advance. Then, by the time I do the course, everything's changed. But the thing I didn't expect when I recorded this course is that for the first time I didn't need to use my Desktop Copy of Visual Studio Code.</p>
<p>Now why is that important. Think of how web developers currently work on projects. Clone or fork a repo, then download the files. When the files arrive at your local machine, they come with no modules. So if you're using React, or Node, GraphQL or whatever, all that has to be installed.</p>
<p>If you're working in a team environment, chances are you have to pull the latest changes for the project, and then go through updating and cleaning up of updated modules. The web is so fluid, that modules go out of date almost every time you come into a project.</p>
<p>Github.dev and codespaces removes some of that friction. You end up working with the copy of the project that's in the cloud, so no more npm or yarn installs. It just ends up saving you a lot of time and you end up focusing more on writing code than nurturing the copy of the environment you have.</p>
<p>Companies are jumping on this paradigm and recognizing how it's going to revolutionize development in their companies. Once coders start developing in the cloud, then coding becomes more social by default. Think of how something like Slack and Teams have changed the way we communicate and collaborate. This has the same potential of getting developers collaborating and getting to code faster.</p>
<p>What's really changed about GitHub is all the moves to bring coding as a service in the cloud. So if you've been following along you've seen github.dev and vscode.dev.</p>
<p>So, I'll give you an example. Because the course I'm working on is on publishing, I had to show the standard way to create GitHub pages. GitHub pages use Ruby. I was dreading having to install Ruby because it's even worst than using NPM. It feels like every time I do something on my blog, I have to update the framework and modules that I didn't even know I needed.</p>
<p>But GitHub Pages are all processed on GitHub, and now that I can use the online Visual Code Editor, I can edit just like I do with my desktop editor. Just hit the period when I'm in that repo, edit pages and commit. It will re-process and automatically update the site.</p>
<p>That sort of friction reduction is truly life changing. I think it's going to change how developers see the world.</p>

    </main>
    <aside class="aside aside-supplemental d-none d-lg-block col-lg-3 mt-3">
      <h4>Contents</h4>
      <nav class="sticky-top" style="top: 100px;">
      <div class="">
                <ol>
                    
                    <li><a href="#hydrogen-e-commerce-framework">Hydrogen E-commerce Framework</a>
            		</li>

                    <li><a href="#microsoft-loop">Microsoft Loop</a>
            		</li>

                    <li><a href="#the-end-of-coding-as-we-know-it">The End of Coding as We Know it</a>
            		</li>
                </ol>
            </div>
      </nav>
    </aside>
  <div>
</main>
</article>

  <footer class="site-footer bg-transparent pb-3 pb-md-5">
    <div class="container d-flex justify-content-center"><div>
      <a class="text-decoration-none family-sans ms-3" href="https://linkedin.com/in/planetoftheweb">
      <i class="bi bi-linkedin text-secondary me-1"></i>linkedin
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://github.com/planetoftheweb">
      <i class="bi bi-github text-secondary me-1"></i>github
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.joinclubhouse.com/planetoftheweb">
      <i class="bi bi-suit-club text-secondary me-1"></i>clubhouse
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://twitter.com/planetoftheweb">
      <i class="bi bi-twitter text-secondary me-1"></i>twitter
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/">
      <i class="bi bi-image text-secondary me-1"></i>flickr
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.youtube.com/user/planetoftheweb">
      <i class="bi bi-youtube text-secondary me-1"></i>youtube
      </a>
    </div><div>
      <a class="text-decoration-none family-sans ms-3" href="https://www.instagram.com/planetoftheweb">
      <i class="bi bi-instagram text-secondary me-1"></i>instagram
      </a>
    </div></div>
    <div class="text-center">
    <a href="https://www.iubenda.com/privacy-policy/85544448/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    <a href="https://www.iubenda.com/privacy-policy/85544448" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </div>
  </footer>
  <script>
    (function () {
      let nav = document.querySelector('.site-nav')
      let mainContent = document.querySelector('#main-content')
      let navHeight = nav.scrollHeight

      function moveHeader() {
        let mainOnTop = mainContent.getBoundingClientRect().top - navHeight

        mainOnTop < 0
          ? nav.classList.add('in-body')
          : nav.classList.remove('in-body')

        window.requestAnimationFrame(moveHeader)
      }
      window.requestAnimationFrame(moveHeader)
    })();
  </script>
  <script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = {"consentOnContinuedBrowsing":false,"lang":"en","siteId":2197414,"cookiePolicyId":85544448, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};</script>
  <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>